/*!
 * @since:2014/5/14
 * @author:xiayyanan@sina.com ~~~!
 * @Copyright © 2014 hzgxr.com. All Rights Reserved.
 **/

/* Reset */
body,div,section,article,header,nav,footer,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,span,img,form,fieldset,legend,input,button,textarea,blockquote,th,td,menu,figure,dir,sup{margin: 0;padding: 0;border: 0;outline:0;}h1,h2,h3,h4,h5,h6,th{font-weight:normal}q:before,q:after{content:''}address,cite,dfn,em,var{font-style:normal;}img{border:0}input,button,textarea,select{vertical-align:middle;font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}textarea{overflow:auto}a{text-decoration:none}:focus{outline:0}a,.hand{cursor:pointer}
ul li{ list-style-type:none;}
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{border:none;padding:0;}
input:focus{ outline:none;}
input[type="button"],input[type="text"],textarea{-webkit-appearance:normal;appearance:normal;}
input[type="checkbox"]{ border:#c8c8c8 1px solid; border-radius:0; background:#FFF;}
input[type="radio"]{border:#c8c8c8 1px solid;background:#ccc;}
/* Public */
    html{ height:100%;}
	body{
		color:#333;
		height:100%;
		font-size:12px;
		line-height:1.5;
		-webkit-font-smoothing: antialiased;		/* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;				/* Fix for webkit minFont size */
		-webkit-tap-highlight-color	:rgba(0,0,0,0);	/* Remove highlight on tap event*/
		-moz-tap-highlight-color	:rgba(0,0,0,0);
		-ms-tap-highlight-color		:rgba(0,0,0,0);
		tap-highlight-color			:rgba(0,0,0,0);
		font-family:"Helvetica Neue",\5FAE\8F6F\96C5\9ED1,Tohoma;
		background:#f5f5f5;
		-webkit-text-size-adjust:none;
		}
	a{color:#333;}
	a:hover{color:#333;}
/* Font */
	.fsi{font-style:italic}				/*斜体*/
	.fwb{font-weight:bold}				/*加粗*/
	.fs1{font-size:14px}				
	.fs2{font-size:16px}
	.fs3{font-size:18px}
	.fs4{font-size:24px}
	.fs5{font-size:30px}
	.fs{font-size:12px}					/*默认大小*/
	.ch{ font-family:"宋体";}			/*宋体*/
	.en{ font-family:Arial;}			/*英文字体*/
	.c1{color:#ccc;}					/*浅灰色*/
	.c2{color:#999;}					/*深灰色*/
	.c3{color:#666;}					/*灰色*/
	.c5{color:#e4393c;}
	.c8{ color:#d30830;}
	.red{ color:#fe3c33;}				/*红色*/
	.white{ color:#FFF;}				/*白色*/
	.black{ color:#000;}				/*黑色*/
	.green{ color:#0ba01e;}				/*绿色*/
	.yellow{ color:#fcff15;}			/*黄色*/
	.blue{color:#27a6d3;}				/*蓝色*/
	.tdu{text-decoration:underline}		/*下划线文字*/
	.tdl{ text-decoration:line-through;}/*中划线文字*/
/* COMMON */
	.fl{float:left}.fr{float:right}
	.pa{position:absolute}.pr{position:relative}
	.tal{text-align:left}.tar{text-align:right}.tac{text-align:center}.vam{ vertical-align:middle;}
	.clearfix:before, .clearfix:after { content:""; display: table; font-size:0 !important; line-height:0!important; height:0!important;}  
	.clearfix:after {clear:both;}  
	/* IE 6/7 */  
	.clearfix { *zoom: 1; } 
	.clear {clear: both;display: block;overflow: hidden;visibility: hidden;width:0;height:0;}
	.icon{
		background-image:url(../images/icon.png);
		background-repeat:no-repeat;
		-webkit-background-size:300px 300px;
		-o-background-size:300px 300px;
		-ms-background-size:300px 300px;
		background-size:300px 300px;
		}
	.ico16{ width:16px; height:16px; display:block;}
	.ico18{ width:18px; height:18px; display:block;}
	.ico20{ width:20px; height:20px; display:block;}
	.ico24{ width:24px; height:24px; display:block;}
	.box-sizing{
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
		box-sizing:border-box;
		}
	
	.btn{ 
	height:28px;
	line-height:26px;
	padding:0 10px;
	background:#e4393c;
	text-align:center;
	color:#FFF;
	font-size:14px;
	cursor:pointer;
	display:inline-block;
	border:none;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
	border-radius:4px;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	}
	.btn:hover{ color:#fff; background:#e21c20;}
	.btn.cancel{ height:40px; line-height:40px; background:#b5b5b5; font-size:18px; display:block;}
	.btn.Large{ width:100%; height:40px; font-size:18px; line-height:40px;}
	.input-txt{
		width:100%; height:40px; line-height:20px;
		border:#ddd 1px solid; padding:7px 9px; 
		background:#FFF; font-size:12px; color:#999;
		display:inline-block; vertical-align:middle;
		-webkit-border-radius:3px;
		-o-border-radius:3px;
		-ms-border-radius:3px;
		border-radius:3px;
		-webkit-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
		box-sizing:border-box;
			}
	
	.layer-bg{
		 width:100%;
		 height:100%;
		 background:rgba(0,0,0,0.25); 
		 position:fixed;
		 z-index:1000;
		 left:0px;
		 top:0px;
		 visibility:hidden;
		 opactiy:0;
		 -webkit-transition:opactiy 0.2s linear;
		 -o-transition:opactiy 0.2s linear;
		 -ms-transition:opactiy 0.2s linear;
		 transition:opactiy 0.2s linear;
		 }
	.layer-bg.active{visibility:visible; opactiy:1;}
	.layer{
		width:90%;
		background:#FFF;
		visibility:hidden;
		opacity:0;
		position:fixed;
		left:5%;
		top:50%;
		z-index:1003;
		-webkit-transform:translateY(-50%);
		-o-transform:translateY(-50%);
		-ms-transform:translateY(-50%);
		transform:translateY(-50%);
		-webkit-border-radius:5px;
		-o-border-radius:5px;
		-ms-border-radius:5px;
		border-radius:5px;
		-webkit-transition:all 0.2s ease-in;
		-o-transition:all 0.2s ease-in;
		-ms-transition:all 0.2s ease-in;
		transition:all 0.2s ease-in;
	}
	.layer.active{ opacity:1; visibility:visible;}
	.layer .title{ border-bottom:#efefef 1px solid; height:39px; line-height:38px;}
	.layer .title .name{display:block; float:left; font-size:16px; color:#333; margin-left:10px;}
	.layer .title .close-btn{width:16px; height:16px; float:right; padding:12px 10px; display:block; cursor:pointer;}
	.ico-close{ width:16px; height:16px; display:block; background-position:-160px -80px;}
	.layer-box{ margin:10px 10px 0;}
	.input-txt.dh{ width:100%; height:34px; padding:5px;}
	.layer-bot{
		margin-top:10px; text-align:center; overflow: hidden;
		border-top:#efefef 1px solid; padding:10px 0; font-size:0px;
		}
	.layer-bot .btn{ margin:0 5px; min-width:60px;}
	.blayer{
		background:#FFF;
		width:100%;
		padding-bottom:10px;
		position:fixed;
		left:0px;
		bottom:0px;
		z-index:1001;
		-webkit-box-shadow:0px 1px 10px rgba(0,0,0,0.5);
		-o-box-shadow:0px 1px 10px rgba(0,0,0,0.5);
		-ms-box-shadow:0px 1px 10px rgba(0,0,0,0.5);
		box-shadow:0px 1px 10px rgba(0,0,0,0.5);
		visibility:hidden; opacity:0;
		-webkit-transform:translateY(100%);
		-o-transform:translateY(100%);
		-ms-transform:translateY(100%);
		transform:translateY(100%);
		-webkit-transition:all 0.2s cubic-bezier(0.25,0,0.75,1.0);
		-o-transition:all 0.2s cubic-bezier(0.25,0,0.75,1.0);
		-ms-transition:all 0.2s cubic-bezier(0.25,0,0.75,1.0);
		transition:all 0.2s cubic-bezier(0.25,0,0.75,1.0);
	}
	.blayer.active{
		visibility: visible;
		opacity:1;
		-webkit-transform:translateY(0);
		-o-transform:translateY(0);
		-ms-transform:translateY(0);
		transform:translateY(0);}
.blayer .opn{margin:20px 10px 0;}
.share-list li{ width:25%; text-align:center; float:left; margin-top:20px;}
.share-list.pb20{ padding-bottom:20px;}
.share-list li .ico{ width:24px; height:24px; display:block; margin:0 auto; padding:12px;}
.share-list li .ico1{ background:#61c527;}
.share-list li .ico2{ background:#61c527;}
.share-list li .ico3{ background:#ff5265;}
.share-list li .ico4{ background:#fcbb1f;}
.share-list li .ico5{ background:#08bbe2;}
.share-list li .ico6{ background:#3cc0f2;}
.share-list li .ico7{ background:#1abf36;}
.share-list li .ico8{ background:#fe714a;}
.share-list li p{ line-height:1; margin-top:8px;}
.share-list li .icon{ width:24px; height:24px; display:block;}
.ico-weixin{ background-position:-0px -78px;}
.ico-pyq{ background-position:-30px -78px;}
.ico-xlwb{ background-position:-60px -78px;}
.ico-qqkj{ background-position:-90px -78px;}
.ico-qq{ background-position:-120px -78px;}
.ico-txwb{ background-position:-150px -78px;}
.ico-fdx{ background-position:-180px -78px;}
.ico-fzlj{ background-position:-210px -78px;}


.ico-yes{width:24px; height:24px; display:block;}
.ico-nav{ width:16px; height:16px; display:block; background-position:0 0;}
.ico-car{ width:16px; height:16px; display:block; background-position:-180px -80px;}
.ico-srh{ width:20px; height:20px; display:block; background-position:-168px -30px;}
.ico-arrow{width:20px; height:20px; display:block;  background-position:-96px -54px;}
.ico-share{width:24px; height:24px; display:block; background-position:-210px -20px;}
.space{ padding-left:1em;}
.spacep{ padding-left:0.5em;}
.space2{ padding-left:2em;}
.imgbox{ font-size:0; line-height:0; display:block;}
.imgbox img{ width:100%;  max-width: 100%;}
.br-p{
	-webkit-border-radius:100%;
	-o-border-radius:100%;
	-ms-border-radius:100%;
	border-radius:100%;
	}

.area{display:block;}
.tap{display:block; position:relative;}
.mt10{ margin-top:10px !important;}
.mb10{ margin-bottom:10px !important;}
.m10{ margin:10px !important;}
.mt0{ margin-top:0px !important;}

.ico-check{
	width:16px;
	height:16px;
	line-height:16px;
	text-align:center;
	display:block;
	border:#dfdfdf 1px solid;
	background:#FFF;
	-webkit-border-radius:100%;
	-o-border-radius:100%;
	-ms-border-radius:100%;
	border-radius:100%;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	}
.ico-check input{ visibility: hidden;}
.ico-check.active{ background:#0ba01e; border-color:#0ba01e; position:relative;}
.ico-check.active:after{
	content:"#";
	font-size:0px;
	width:3px;
	height:7px;
	display: block;
	position:absolute;
	left:50%;
	margin-left:-2px;
	top:50%;
	margin-top:-5px;
	border-bottom:#fff 1px solid;
	border-right:#fff 1px solid;
	-webkit-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);
	}

.on-off{
	width:48px;
	height:28px;
	position:relative;
	display:block;
	border:#e6e6e6 1.5px solid;
	background:#FFF;
	-webkit-border-radius:15.5px;
	-o-border-radius:15.5px;
	-ms-border-radius:15.5px;
	border-radius:15.5px;
	-webkit-transition:all 0.2s ease-in;
	-o-transition:all 0.2s ease-in;
	-ms-transition:all 0.2s ease-in;
	transition:all 0.2s ease-in;
	}
.on-off.active{ background:#0ba01e; border-color:#0ba01e;}
.on-off .bun{
	width:26px;
	height:26px;
	position:absolute; 
	left:0;
	top:0;
	display:block;
	background:#FFF;
	border:#e1e1e1 1px solid;
	-webkit-border-radius:100%;
	-o-border-radius:100%;
	-ms-border-radius:100%;
	border-radius:100%;
	-webkit-box-shadow:0px 3px 0 rgba(0,0,0,0.1);
	-o-box-shadow:0px 3px 0 rgba(0,0,0,0.1);
	-ms-box-shadow:0px 3px 0 rgba(0,0,0,0.1);
	box-shadow:0px 3px 0 rgba(0,0,0,0.1);
	-webkit-transition:all 0.2s ease-in;
	-o-transition:all 0.2s ease-in;
	-ms-transition:all 0.2s ease-in;
	transition:all 0.2s ease-in;
	}
.on-off.active .bun{
	border-color:#fff;
	-webkit-transform:translate(20px,0);
	-o-transform:translate(20px,0);
	-ms-transform:translate(20px,0);
	transform:translate(20px,0);
	}
	
/* Page content */
.wrap{ padding:44px 0 48px;}
.wrap.pb0{ padding-bottom:0px;}
.wrap.pt0{ padding-top:0px;}
.wrap.ptb0{ padding:0;}
.wrap.pb60{ padding-bottom:60px;}
.wrap.pt88{ padding-top:88px;}
.body-bgf{ background:#FFF;}
.body-red{ background:#e4393c;}
.body-yellow{ background:#fbd500;}
.header{
	width:100%;
	height:45px;
	background:#fff;
	text-align:center;
	font-size:0px;
	line-height:0px;
	position:fixed;
	z-index:999;
	left:0;
	top:0;
	/*border-bottom:#bf494b 1px solid;*/
	b-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	}
.header:after{
	width:100%;
	height:1px;
	position:absolute;
	left:0;
	bottom:0;
	background:#e14b4d;
	content:"";
	font-size:0;
	}
.header.bgf{ background:#f3f3f3; border:none;}
.header.bgf:after{ display:none;}
.header.bgf .name{ color:#000;}
.header .name{ line-height:44px; color:#000; font-size:20px; text-align:center;}
.header .back{ width:20px; height:20px; padding:12px 6px; display:block; position:absolute; left:0; top:0;}
.header .edit-text{ height:44px; font-size:14px; line-height:44px; padding:0 10px; display:block; position:absolute; right:0; top:0;}
.header .more-nav{ width:24px; height:24px; display:block; padding:10px; position:absolute; right:0; top:0;}
.ico-nav{ width:24px; height:24px; display:block; background-position:0px 0px;}
.header .back{ width:20px; height:20px; display:block; padding:12px 5px; position:absolute; left:0; top:0;}
.header .back .ico-back{ width:20px; height:20px; display:block; background-position:-96px -30px;}
.header .share{ width:20px; height:20px; display:block; padding:12px 10px; position:absolute; right:0; top:0;}
.header .share .ico-share{ width:20px; height:20px; display:block; background-position:-120px -30px;}
.header .edit-text{ height:44px; font-size:14px; color:#FFF; line-height:44px; padding:0 10px; display:block; position:absolute; right:0; top:0;}


.idx-box{padding:10px; text-align:center; font-size:0; line-height:0;}
.idx-box .name{ font-size:18px; line-height:1; font-weight:bold; text-align:center; margin-top:10px;}
.idx-box .circle{ width:160px; height:160px; border:#ffd2d2 5px solid; margin:20px auto 0; position:relative;}
.idx-box .circle canvas{
	width:170px;
	height:170px;
	position:absolute;
	z-index:1;
	left:-5px;
	top:-5px;
	-webkit-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
	-ms-transform:rotate(-90deg);
	transform:rotate(-90deg);
	}
.idx-box .circle .text{
	color:#666;
	font-size:16px;
	width:100%;
	position:absolute;
	z-index:2;
	left:0;
	top:50%;
	line-height:1;
	-webkit-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	}

.idx-box .price{ margin-top:10px; font-size:44px; color:#e4393c;}
.idx-box .small{ font-size:16px;}
.idx-box .term{ margin-top:10px;}
.idx-box .info{ min-height:24px; line-height:24px; margin-top:10px; font-size:16px; display:inline-block; vertical-align:middle; width:50%; padding-right:15px; border-right:#ddd 1px solid; text-align:right;}
.idx-box .info.last{ text-align:left; padding-left:15px; padding-right:0; border:none;}
.idx-box .opn{ margin-top:10px;}
.idx-box .Secured{ margin-top:15px; font-size:18px; color:#999; line-height:24px;}
.idx-box .ico-Secured{ width:24px; height:24px; display:inline-block; vertical-align:middle; margin:-2px 8px 0 0; background-position:-30px 0px;}

.bot-nav{
	width:100%;
	height:50px;
	border-top:#e1e1e1 1px solid;
	background:#f9f9f9;
	position:fixed;
	left:0;
	bottom:0;
	z-index:999;
	}
.bot-nav .tab{ width:25%; height:47px; display:block; font-size:0px; line-height:0px; text-align:center; float:left; color:#999;}
.bot-nav .tab i{ width:20px; height:20px; display:inline-block; margin-top:5px;}
.bot-nav .tab:hover{ color:#999;}
.bot-nav .tab.active{ color:#e4393c;}
.bot-nav .tab .ico-Home{ background-position:0 -30px;}
.bot-nav .tab .ico-Product{ background-position:-24px -30px;}
.bot-nav .tab .ico-Assets{ background-position:-48px -30px;}
.bot-nav .tab .ico-More{ background-position:-72px -30px;}
.bot-nav .tab.active .ico-Home{ background-position:0 -54px;}
.bot-nav .tab.active .ico-Product{ background-position:-24px -54px;}
.bot-nav .tab.active .ico-Assets{ background-position:-48px -54px;}
.bot-nav .tab.active .ico-More{ background-position:-72px -54px;}
.bot-nav .tab p{ line-height:1; font-size:14px; padding-top:4px;}
.bot-nav.h60{ height:59px; background:#FFF;}
.bot-nav .new-post{ margin:9px 10px 10px; }
.ico-send{ background-position:-168px -54px; display:inline-block; vertical-align:middle; margin:-2px 8px 0 0;}
.bot-bar{
	width:100%;
	height:48px;
	position:fixed;
	left:0;
	bottom:0;
	z-index:999;
	}
.nav-bar{
	width:100%;
	height:44px;
	background:#f9f9f9;
	position:fixed;
	z-index:999;
	left:0;
	top:0px;
	}
.nav-bar ul li{ float:left; width:33.5%;}
.nav-bar ul li:first-child{ width:33%;}
.nav-bar ul li .tab{ height:44px; line-height:44px; display:block; font-size:14px; text-align:center; position:relative;}
.nav-bar ul li.active .tab:after{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:2px;
	background:#e4393c;
	content:"";
	font-size:0;
	display:block;
	}
.nav-bar.row2 ul li{ width:50%;}
.plist li{ border-bottom:#e1e1e1 1px solid;}
.plist li .area{ padding:15px 10px 15px 92px; position:relative; min-height:72px;}
.plist li .circle{
	width:68px;
	height:68px;
	border:#ffcbcb 2px solid;
	position: absolute;
	left:10px;
	top:50%;
	-webkit-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	}
.plist li .circle canvas{
	width:72px;
	height:72px;
	position:absolute;
	z-index:1;
	left:-2px;
	top:-2px;
	-webkit-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
	-ms-transform:rotate(-90deg);
	transform:rotate(-90deg);
	}
.plist li .circle .text{
	width:100%;
	position:absolute;
	z-index:2;
	left:0;
	top:50%;
	line-height:1;
	font-size:30px;
	color:#e4393c;
	text-align:center;
	-webkit-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	}
.plist li .circle.fail{ width:64px; height:64px;border:#e1e1e1 4px solid;}
.plist li .circle.fail .text{ font-size:18px; color:#999;}
.plist li .small{ font-size:16px;}
.plist li .text-box{line-height:24px; font-size:12px; position:relative; z-index:2;}
.plist li .name{ font-size:16px;}
.plist li .price{ height:24px; line-height:24px; color:#999;}
.plist li .Ratio{ font-size:18px;}
.plist li .info{ color:#666;}
.plist li .flag{ width:36px; height:36px; position:absolute; z-index:1; right:10px; top:15px; font-size:0; line-height:0;}
.plist li .flag img{ width:100%;}
.plist li:last-child{ border:none;}

.pshow-info{ background:#FFF; padding:20px; font-size:0; line-height:1; text-align:center;}
.pshow-info .name{ font-size:18px; color:#999;}
.pshow-info .price{ font-size:18px; font-size:44px; margin-top:20px;}
.pshow-info .price .small{ font-size:14px;}
.pshow-info .info{ min-height:18px; line-height:18px; margin-top:20px; font-size:14px; display:inline-block; vertical-align:middle;  padding-right:15px; border-right:#ddd 1px solid; text-align:right; color:#666;}
.pshow-info .info.last{ text-align:left; padding-left:15px; padding-right:0; border:none;}
.pshow-info .counts{ font-size:14px; color:#999; margin-top:15px; text-align:left;}
.pshow-info .progress-bar{
	height:5px;
	width:100%;
	background:#e1e1e1;
	margin-top:15px;
	-webkit-border-radius:2.5px;
	-o-border-radius:2.5px;
	-ms-border-radius:2.5px;
	border-radius:2.5px;
	}
.pshow-info .progress-bar div{
	height:5px;
	background:#e4393c;
	-webkit-border-radius:2.5px;
	-o-border-radius:2.5px;
	-ms-border-radius:2.5px;
	border-radius:2.5px;
	}
.pshow-ad{ height:20px; font-size:0; line-height:0; padding:10px 0; background:#fffdd1; overflow:hidden;}
.pshow-ad li{ width:25%; float:left; color:#0ba01e;}
.pshow-ad li i{ width:20px; height:20px; display:inline-block; vertical-align:middle; margin:0px 2px 0 8px;}
.pshow-ad li span{ font-size:12px; height:20px; line-height:20px; display:inline-block; vertical-align:middle;}
.pshow-ad li .ico1{ background-position:-144px -30px;}
.pshow-ad li .ico2{ background-position:-168px -30px;}
.pshow-ad li .ico3{ background-position:-192px -30px;}
.pshow-ad li .ico4{ background-position:-216px -30px;}
.list-tab li{ margin-top:10px;}
.list-tab li .area{ padding:10px 30px 10px 10px; position:relative; background:#FFF;}
.list-tab li .name{ font-size:18px;}
.list-tab li .dsp{ font-size:14px; color:#666;}
.list-tab li .ico-arrow{ position:absolute; right:5px; top:50%; margin-top:-10px;}
.box{ background:#FFF; margin-top:10px;}
.box.btline{ border-bottom:#e1e1e1 1px solid; border-top:#e1e1e1 1px solid;}
.box.plr10{ padding:0 10px;}
.box .text-box{ margin:10px; font-size:14px;}
.pshow-bar{ height:48px; border-bottom:#e1e1e1 1px solid;background:#FFF;}
.pshow-bar li{ width:25%; float:left;}
.pshow-bar li .tab{ display:block; height:48px; line-height:48px; font-size:14px; text-align:center; position:relative;}
.pshow-bar li.active .tab{ color:#e4393c;}
.pshow-bar li.active .tab:after{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:2px;
	background:#e4393c;
	content:"";
	font-size:0;
	display:block;
	}
.hkjh-list{ margin:0 10px 10px;}
.hkjh-list li{ border-bottom:#e1e1e1 1px solid; padding:10px 0; line-height:20px; color:#999; overflow:hidden;}
.hkjh-list li.titles{ color:#333; font-weight:bold;}
.hkjh-list li span{ display:block; float:left;}
.hkjh-list li .item1{ width:33%;}
.hkjh-list li .item2{ width:34%; text-align:center;}
.hkjh-list li .item3{ width:33%; text-align:right;}
.ljtz-btn{ width:100%; height:48px; line-height:48px; font-size:18px; background:#e4393c; color:#FFF; text-align:center; display:block;}
.ljtz-btn .ico-ljtz{ width:24px; height:24px; display:inline-block; vertical-align:middle; background-position:-60px 0px; margin:-3px 8px 0 0;}
.tzjl-list li{padding:10px 10px; border-bottom:#e1e1e1 1px solid; background:#FFF; overflow:hidden; line-height:24px; position:relative;}
.tzjl-list li .text{ float:left;}
.tzjl-list li .info{ float:right; color:#999; text-align:right;}
.tzjl-list li .title{ font-size:16px;}
.tzjl-list li .date{ color:#999;}
.tzjl-list li .price{ color:#e4393c; font-size:16px;}
.tzjl-list li .coins{ line-height:48px; font-size:14px;}
.tzjl-list li .money{ height:24px; line-height:24px; font-size:18px; position:absolute; right:10px; top:50%; margin-top:-12px;}
.tzjl-list li .dsp{ line-height:18px; padding:4px 0; color:#999;}
.zhye-box{ padding:10px; border-bottom:#e1e1e1 1px solid;}
.zhye-box .title{ line-height:1; font-size:14px; color:#666;}
.zhye-box .price{ line-height:1; font-size:30px; color:#e4393c; margin-top:5%; text-align:right;}

.title-bt{ line-height:1; margin:20px 10px 0; font-size:14px;}
.wytz{ height:38px; margin-top:10px; /*border-bottom:#e1e1e1 1px solid;*/ padding:0px 2em 10px 5em;font-size:14px; line-height:38px; position:relative;}
.wytz .name{ height:38px; display:block; position:absolute; left:0; top:0; color:#666; }
.wytz .unit{ height:38px; display:block;  position:absolute; right:0px; top:0px; }
.wytz input{ width:100%; height:38px; line-height:38px; display:block; background:#fff; text-align:center; font-size:18px;}
.wytz-counts{ padding:10px 0; text-align:center; font-size:15px; line-height:20px; color:#666;}
.wytz-counts .c5{ font-size:18px;}

.zfxx-tab li{ border-bottom:#d1d1d1 1px solid;}
.zfxx-tab li .text{ padding:10px 0; line-height:24px; font-size:14px; color:#666;}
.zfxx-tab li:last-child{ border:none;}
.zfxx-tab li .dsp{ float:right;}
.zfxx-tab li .tap{ padding:10px 20px 10px 0; display:block; line-height:24px; font-size:14px; color:#666; position:relative;}
.zfxx-tab li .ico-arrow{ position:absolute; right:-5px; top:50%; margin-top:-10px;}
.exit-opn{ padding:10px;}
.exit-opn .btn{ width:100%; display:block; height:40px; line-height:40px; font-size:18px;}

.Assets-info{
	background:#e4393c url(../images/Assets-bg.png) no-repeat center top;
	color:#FFF;
	font-size:14px;
	padding:0 10px;
	-webkit-background-size:100% auto;
	-o-background-size:100% auto;
	-ms-background-size:100% auto;
	background-size:100% auto;
	}
.Assets-info .title{ height:20px; line-height:20px; margin-top:10px;}
.Assets-info .title .ico-arrow{ float:right; background-position:-120px -54px;}
.Assets-info .item1{ height:44px; width:100%; padding:10px; margin:0 -10px; border-bottom:#f7595f 1px solid;}
.Assets-info .item1 .price{ font-size:44px; line-height:44px;}
.Assets-info .item1 .btn{ height:32px; line-height:30px; border:#fffdd1 1px solid; background:#fffdd1; display:block; float:right; margin:6px 0 0 10px; color:#d5393c; font-size:16px;}
.Assets-info .item1 .btn.bgn{ background:none; border-color:#fff; color:#FFF;}
.Assets-info .counts{ width:50%; float:left; padding:10px 0; line-height:24px;}
.Assets-info .counts .price{ font-size:18px;}
.Assets-smrz{ height:48px; border-bottom:#e1e1e1 1px solid; line-height:48px; position:relative; font-size:14px;}
.Assets-smrz a{ display:block;padding-left:25px;}
.Assets-smrz .dsp{ float:right; color:#666;}
.Assets-smrz .ico-smrz{ width:18px; height:18px; display:block; position:absolute; left:0; top:50%; margin-top:-9px; background-position:0px -108px;}
.Assets-smrz .name{ font-size:18px;}
.Assets-Record{ height:48px; line-height:48px;}
.Assets-Record li{ width:31%; font-size:14px; height:48px; line-height:48px; color:#333; float:left;}
.Assets-Record li:last-child{ text-align:right;}
.Assets-Record li:nth-child(2){ width:38%; text-align:center; position:relative;}
.Assets-Record li:nth-child(2):before{
	width:1px;
	height:18px;
	display:block;
	position:absolute;
	left:0;
	top:50%;
	margin-top:-9px;
	content:'';
	font-size:0;
	background:#e1e1e1;
	}
.Assets-Record li:nth-child(2):after{
	width:1px;
	height:18px;
	display:block;
	position:absolute;
	right:0;
	top:50%;
	margin-top:-9px;
	content:'';
	font-size:0;
	background:#e1e1e1;
	}
.Assets-tab li{ border-bottom:#e1e1e1 1px solid;}
.Assets-tab li .tap{ padding:0px 30px 0px 38px; display:block; height:48px; line-height:48px; position:relative;}
.Assets-tab li .tap .ico18{ position:absolute; left:10px; top:50%; margin-top:-9px;}
.Assets-tab li .tap .name{ font-size:16px;}
.Assets-tab li .tap .dsp{ font-size:14px; float:right;}
.Assets-tab li .ico-arrow{ position:absolute; right:5px; top:50%; margin-top:-10px;}
.ico-zhye{ background-position:-24px -108px;}
.ico-wdyhk{ background-position:-48px -108px;}
.ico-wdhb{ background-position:-72px -108px;}
.ico-yqyl{ background-position:-96px -108px;}
.ico-zdtz{ background-position:-120px -108px;}

.ico-tsjy { background: url(../images/ico_jyts.png); background-size: 18px 18px;}
.Assets-tab li:last-child{ border:none;}


.form-tab li{ margin-top:10px;}
.form-tab li.mlr10{ margin:10px 10px 0 10px;}
.form-tab li .link{ padding:0 10px; height:42px; line-height:42px; display:block; background:#FFF; border-top:#ebebeb 1px solid;border-bottom:#ebebeb 1px solid; position:relative; padding-left:6.5em;}
.form-tab li .link.pl5em{ padding-left:7.5em;}
.form-tab li .link.pl10em{ padding-left:13em;}
.form-tab li .link.h60{ height:58px;}
.form-tab li .link .name{ height:42px; font-size:14px; color:#333; position:absolute; left:10px; top:50%; margin-top:-21px;}
.form-tab li .ico-arrow{position:absolute; right:5px; top:50%; margin-top:-10px;}
.form-tab li .link .imgbox{ float:right; height:40px; width:40px; overflow:hidden; position:absolute; right:30px; top:50%; margin-top:-20px;}
.form-txt{ width:100%; height:20px; padding:11px 0; line-height:20px; border:none; display:block; }
.form-tab li .link .dsp{ float:right; color:#666; padding-right:20px;}
.form-tab li .link.pl2em{ padding-left:4em;}
.form-tab li .link.msg-yzm{ padding:0 128px 0 10px;}
.form-tab li .link.pl10{ padding-left:10px;}
.form-tab li .link.h100{ height:80px; padding:10px;}
.form-tab li .link.h100 .form-txt{ height:80px; line-height:18px; padding:0;}
.get-yzm{ width:108px; height:32px; line-height:32px; padding:0; font-size:12px; display:block; position:absolute; right:10px; top:50%; margin-top:-16px;}

.form-tab li .ico-check{ position:absolute; right:10px; top:50%; margin-top:-8px;}
.form-tab li .tab{ padding:0 10px; height:42px; line-height:42px; display:block; background:#FFF; border-top:#ebebeb 1px solid;border-bottom:#ebebeb 1px solid; position:relative; padding-left:44px; font-size:14px; color:#333;}
.form-tab li .tab.pl10{ padding-left:10px;}
.form-tab li .tab .dsp{ float:right;}
.form-tab li .tab.txyhk{ height:40px; padding:10px;}
.form-tab li .tab.txyhk .imgbox{ width:40px; height:40px; float:left; margin-right:10px;}
.form-tab li .tab.txyhk .bank-info{ float:left; line-height:20px;}
.form-tab li .tab.txyhk .bank-info .bt{ font-size:18px;}
.form-tab li .tab.txyhk .bank-info .dsps{ font-size:14px; color:#999;}
.form-tab li .ico24{ width:24px; height:24px; display:block; position:absolute; left:10px; top:50%; margin-top:-12px;}
.form-tab li .tips{ padding:0 10px;}
.form-tab li .fwxy{ font-size:14px; height:18px; line-height:18px; padding:0 10px 0 38px; position:relative;}
.form-tab li .fwxy .ico-check{
	left:10px;
	margin-top:-9px;
	width:18px;
	height:18px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
	border-radius:3px;
	}
.form-tab li .fwxy .ico-check.active:after{
	content:"#";
	font-size:0px;
	width:4px;
	height:9px;
	display: block;
	position:absolute;
	left:50%;
	margin-left:-3px;
	top:50%;
	margin-top:-7px;
	border-bottom:#fff 2px solid;
	border-right:#fff 2px solid;
	-webkit-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);
	}
.qetx-btn{ height:44px; line-height:44px; font-size:14px; color:#FFF; display:block; padding:0 15px; background:#0ba01e; position:absolute; right:0; top:-1px;}
.qetx-btn.grey{ background:#b5b5b5;}
.Warm-tip{ margin:20px 10px; padding-left:30px; position:relative; color:#666;}
.Warm-tip .title{ height:24px; line-height:24px; font-size:16px; color:#e4393c;}
.Warm-tip .ico-tip{ width:20px; height:20px; display:block; position:absolute; left:0; top:2px;  background-position:-144px -54px;}
.Warm-tip.lrtzsm{ margin:0; background:#fffdd1; padding:10px 10px 10px 40px;}
.Warm-tip.lrtzsm .ico-tip{ left:10px; top:12px;}

.card-model{
	overflow:hidden;
	margin:10px 10px 0;
	height:108px;
	font-size:0;
	position:relative;
	}
.card-model .card-bind{
	display:block;
	border:#e1e1e1 2px solid;
	height:100%;
	background:#FFF;
	text-align:center;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	border-radius:5px;
	}
.card-model .text{
	position:absolute;
	top:50%;
	width:100%;
	z-index:3;
	-webkit-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	}	
.card-model .card-bind img{ width:40px; display:inline-block; vertical-align:middle; margin-right:10px;}
.card-model .card-bind .name{ font-size:24px; vertical-align:middle; height:40px; color:#999;}
.card-model .card-info{
	display:block;
	height:100%;
	background:#e4393c;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	border-radius:5px;
	}
.card-model .card-info img{
	height:110%;
	top:-5%;
	right:-5%;
	position:absolute;
	z-index:2;
	}
.card-model .card-info .text{ color:#FFF; font-size:18px; left:20px; line-height:2;}

.tel-info{ padding:20px 0; text-align:center; font-size:0; line-height:0;}
.tel-info .title{ line-height:2em; font-size:16px; color:#999;}
.tel-info .number{
	height:30px;
	line-height:30px;
	font-size:18px;
	color:#999;
	border:#e1e1e1 2px solid;
	display:inline-block;
	margin-top:10px;
	padding:0 20px;
	-webkit-border-radius:17px;
	-o-border-radius:17px;
	-ms-border-radius:17px;
	border-radius:17px;
	}
.tel-info .number .ico-tel{ width:20px; height:20px; display:inline-block; vertical-align:middle; margin:-4px 8px 0 0; background-position:-144px -108px;}
.Red-envelopes{ margin:0 10px 10px;}
.Red-envelopes li{ margin-top:10px; position:relative; overflow:hidden;}
.Red-envelopes li .price{ width:34%; float:left; font-size:0; line-height:0; position:relative; z-index:1;}
.Red-envelopes li .price img { width:100%;}
.Red-envelopes li .price .number{
	width:100%;
	text-align:center;
	position:absolute;
	left:0;
	top:50%;
	line-height:1;
	color:#FFF;
	font-size:36px;
	-webkit-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	}
.Red-envelopes li .price .number .small{ font-size:18px;}
.Red-envelopes li .bg{
	width:95%;
	height:100%;
	background:#FFF;
	position:absolute;
	right:0;
	box-shadow:0px 1px 5px rgba(0,0,0,0.15);
	}
	
.Red-envelopes li .info{
	width:60%;
	position:absolute;
	right:0;
	top:50%;
	z-index:4;
	font-size:16px;
	line-height:1.8;
	-webkit-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	}
.Red-envelopes li .info .name{ color:#666;}
.Red-envelopes li .info .date{ color:#999;}
.Red-envelopes li .flag { height:100%; position:absolute; right:0px; top:15%; z-index:1;}
.Red-envelopes li .flag img{ height:100%; max-width: 100px; max-height: 100px; }
 
.Invite-ad{ margin:8% 10% 0; font-size:0; line-height:0; position:relative; z-index:2;}
.Invite-ad img{ width:100%;}
.Invite-ewm{ width:64%; margin:-2.5% 18% 0; position:relative; z-index:1;}
.Invite-ewm .imgbox{
	padding:5%;
	background:#FFF;
	-webkit-box-shadow:0px 1px 10px rgba(0,0,0,0.25);
	-o-box-shadow:0px 1px 10px rgba(0,0,0,0.25);
	-ms-box-shadow:0px 1px 10px rgba(0,0,0,0.25);
	box-shadow:0px 1px 10px rgba(0,0,0,0.25);
	}
.Invite-ewm .opn{ margin-top:10%;}

.Switch-tab li{ padding:10px; background:#FFF; border-bottom:#e1e1e1 1px solid; position:relative; overflow:hidden;}
.Switch-tab li .text{ float:left; line-height:24px;}
.Switch-tab li .text .name{ color:#999; font-size:14px;}
.Switch-tab li .text .price{ font-size:24px; color:#e4393c;}
.Switch-tab li .on-off{ position:absolute; right:10px; top:50%; margin-top:-15px;}

.auto-Bid li{ margin-top:10px; border-bottom:#e1e1e1 1px solid; border-top:#e1e1e1 1px solid; padding:0 10px; font-size:14px; color:#666; background:#FFF;}
.auto-Bid li .item1{ height:44px; line-height:44px; border-bottom:#e1e1e1 1px solid;}
.auto-Bid li .item1 .NO{
	width:18px;
	height:18px;
	line-height:18px;
	background:#e4393c;
	color:#FFF;
	text-align:center;
	display:inline-block;
	vertical-align:middle;
	-webkit-border-radius:9px;
	-o-border-radius:9px;
	-ms-border-radius:9px;
	border-radius:9px;
	}
.auto-Bid{ padding-bottom:10px;}
.auto-Bid li .item1 .dsp{ float:right;}
.auto-Bid li .item2{ border-bottom:#e1e1e1 1px solid; padding:5px 0;}
.auto-Bid li .item2 .bt{ height:32px; line-height:32px;}
.auto-Bid li .item2 dl dd{ height:32px; line-height:32px; float:left;}
.auto-Bid li .item2 dl dd.n1{ width:35%;}
.auto-Bid li .item2 dl dd.n2{ width:25%; text-align:center;}
.auto-Bid li .item2 dl dd.n3{ width:40%; text-align:right;}
.auto-Bid li .item3{ height:44px; line-height:44px;}
.auto-Bid li .item3 .tap{ width:16px; height:16px; display:block; float:right; padding:16px 0; margin-left:10px;}
.auto-Bid li .item3 .icon{ width:16px; height:16px; display:block;}
.auto-Bid li .item3 .ico-edit{ background-position:0px -132px;}
.auto-Bid li .item3 .ico-del{ background-position:-20px -132px;}

.info-tab{ padding:0 10px;}
.info-tab li{ border-bottom:#e1e1e1 1px solid; font-size:14px; color:#666;}
.info-tab li .item{ height:44px; line-height:44px; position:relative;}
.info-tab li .item.fs0{ font-size:0; line-height:0;}
.info-tab li .item.switch{ padding-right:60px;}
.info-tab li .item.switch .on-off{ position:absolute; right:0; top:50%; margin-top:-15px;}
.info-tab li .item.arrow{ padding-right:20px;}
.info-tab li .item.arrow .ico-arrow{ position:absolute; right:-5px; top:50%; margin-top:-10px;}
.info-tab li .dsp{ float:right;}
.info-tab li:last-child{border:none;}
.info-tab li.bn{ border:none;}
.info-tab li .select{ width:40%; height:34px; font-size:14px; padding:0 9px; border:#e1e1e1 1px solid; background:#FFF; display:inline-block; vertical-align:top;}
.info-tab li .Range{ width:20%; height:34px; line-height:34px; font-size:14px; display:inline-block; vertical-align:top; text-align:center; font-size:24px;}
.tips-text{background:#fffdd1; border-bottom:#e1e1e1 1px solid; padding:10px;}
.tips-text .list li{ margin-top:10px; padding-left:28px; position:relative;}
.tips-text .list li .NO{
	width:18px;
	height:18px;
	text-align:center;
	line-height:18px;
	display:block;
	background:#e4393c;
	color:#FFF;
	position:absolute;
	left:0;
	top:2px;
	}

.ico-verified{display:inline-block; vertical-align:middle; margin:-2px 5px 0 0; background-position:-40px -132px;}
.ico-verified.active{ background-position:-60px -132px;}
.user-bar{background:#FFF; border-bottom:#ebebeb 1px solid; font-size:0; line-height:0;}
.user-bar .tap{ padding:10px 30px 10px 10px; position:relative;}
.user-bar .imgbox{ display:inline-block; vertical-align:middle; width:18%;}
.user-bar .text{ vertical-align:middle; display:inline-block; margin-left:10px; line-height:24px; font-size:14px;}
.user-bar .text .name{ font-size:16px;}
.user-bar .ico-arrow{ position:absolute; right:5px; top:50%; margin-top:-10px;}

.user-nav{ margin-top:10px; background:#FFF;}
.user-nav li{ border-bottom:#e1e1e1 1px solid; font-size:15px;}
.user-nav li .tap{ height:44px; line-height:44px; padding:0 10px 0 38px;}
.user-nav li .ico-arrow{ position:absolute; right:5px; top:50%; margin-top:-10px;}
.user-nav li .ico18{ position:absolute; left:10px; top:50%; margin-top:-9px;}
.ico-dlmm{ background-position:-168px -108px;}
.ico-notice{ background-position:-192px -108px;}
.ico-xszn{ background-position:-216px -108px;}
.ico-about{ background-position:-240px -108px;}
.ico-shequ{ background-position:-264px -108px;}

.notice-list{ background:#FFF; margin-bottom:10px;}
.notice-list li{ border-bottom:#e1e1e1 1px solid;}
.notice-list li .tap{ padding:10px 25px 10px 44px; line-height:20px;}
.notice-list li .tap.pr10{ padding-right:10px;}
.notice-list li .ico-news{background-position:-90px 0px; position:absolute; left:10px; top:50%; margin-top:-12px;}
.notice-list li .ico-hot{ background-position:-120px 0px; position:absolute; left:10px; top:50%; margin-top:-12px;}
.notice-list li .ico-arrow{ position:absolute; right:5px; top:50%; margin-top:-10px;}
.notice-list li .title{ font-size:14px;}
.notice-list li .date{ color:#999;}
.notice-list li .ico-view{ width:14px; height:14px; display:inline-block; vertical-align:middle; margin:-2px 5px 0 0; background-position:-80px -132px;}
.news-bt{border-bottom:#e1e1e1 1px solid; padding-bottom:10px; text-align:center;}
.news-bt .title{ line-height:24px; font-size:14px; color:#333;}
.news-bt .date{ color:#999; line-height:1; margin-top:10px;}
.content{padding:10px 0; line-height:1.65; color:#666;}

.Review-send{
	height:40px;
	margin:9px 10px 0;
	padding:0 98px 0 9px;
	position:relative;
	background:#FFF;
	border:#e1e1e1 1px solid;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
	border-radius:4px;
	}
.Review-send .txt{ width:100%; height:38px; line-height:38px; background: none; display:block;}
.Review-send .btn{
	width:88px;
	height:40px;
	display:block;
	position:absolute;
	right:-1px;
	top:-1px;
	font-size:18px;
	padding:0;
	border-radius:0 4px 4px 0;
	}

.shequ-info{ margin-top:0; padding:10px;}
.shequ-info .title{ font-size:15px;}
.shequ-info .info{color:#666; padding:10px 0; border-bottom:#e1e1e1 1px solid; height:28px; line-height:28px; font-size:0;}
.shequ-info .info .name{ height:28px; vertical-align:middle; display:inline-block; font-size:14px;}
.shequ-info .info .date{ float:right; color:#999; font-size:12px;}
.shequ-info .info .imgbox{ width:28px; height:28px; display: inline-block; margin:0 10px 0 0; vertical-align:middle;}
.shequ-info .texts{ margin-top:10px; color:#666; line-height:1.65;}
.Review-list{border-top:#e1e1e1 1px solid;border-bottom:#e1e1e1 1px solid; background:#FFF; padding:0 10px; margin:10px 0;}
.Review-list li{border-bottom:#e1e1e1 1px solid; padding:10px 0;}
.Review-list li .imgbox{ width:12%; float:left;}
.Review-list li .cnt{ width:88%; float:left; padding-left:10px;}
.Review-list li:last-child{ border-bottom:none;}
.Review-list li .name{ font-size:14px;}
.Review-list li .date{ color:#999; line-height:1; margin-top:6px;}
.Review-list li .texts{ font-size:13px; margin-top:6px;}
.login{ margin:0 7%;}
.login .logos{ font-size:0; line-height:0; text-align:center; margin-top:10%;}
.login .logos img{ width:36%; display:inline-block;}
.login-form { margin-top:0%;}
.login-form li{ margin-top:8%;}
.login-form li .input-box{ height:46px; border:#FFF 1px solid; position:relative; padding:0 10px 0 44px;}
.login-form li .ico24{ position:absolute; left:10px; top:50%; margin-top:-12px;}
.ico-yhm{ background-position:-150px 0px;}
.ico-pwd{ background-position:-180px 0px;}
.login-txt{ width:100%; height:24px; line-height:24px; display:block; padding:11px 0; background:none; color:#FFF; font-size:14px;}
.login-txt::-webkit-input-placeholder{ color:#FFF;}
.login-btn{
	width:100%;
	height:50px;
	line-height:1;
	border:#FFF 2px solid;
	background:none;
	font-size:20px;
	color:#FFF;
	-webkit-border-radius:27px;
	-o-border-radius:27px;
	-ms-border-radius:27px;
	border-radius:27px;
	}
.login-dsp{ margin-top:15px; line-height:1; text-align:center; color:#FFF; font-size:14px;}
.login-form li .wjmm{ height:48px; line-height:48px; padding:0 10px; font-size:14px; color:#FFF; position:absolute; right:0; top:-1px; display:block; opacity:0.5;}
.opacity5{ color:rgba(255,255,255,0.5);}

.reg-form{ margin:0 10px;}
.reg-form li{ margin-top:10px;}
.reg-form li .input-box{
	height:46px;
	border:#e1e1e1 1px solid;
	background:#FFF;
	position:relative;
	padding:0 10px 0 44px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	border-radius:5px;
	}
.reg-form li .input-box.yzm{ padding-right:135px;}
.reg-form li .input-box.yzm:after{
	height:46px;
	width:5px;
	position:absolute;
	right:130px;
	top:-1px;
	border:#e1e1e1 1px solid;
	border-left:none;
	content:'';
	font-size:0;
	-webkit-border-radius:0 5px 5px 0;
	-o-border-radius:0 5px 5px 0;
	-ms-border-radius:0 5px 5px 0;
	border-radius:0 5px 5px 0;
	}
.reg-form li .getyzm{
	width:120px;
	height:48px;
	line-height:48px;
	background:#999;
	color:#FFF;
	display:block;
	position:absolute;
	right:-1px;
	top:-1px;
	text-align:center;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	border-radius:5px;
	}
.reg-form li .ico24{ position:absolute; left:10px; top:50%; margin-top:-12px;}
.ico-sjh{ background-position:-210px 0px;}
.ico-yzm{ background-position:-240px 0px;}
.ico-pwd2{ background-position:-270px 0px;}
.reg-txt{ width:100%; height:24px; line-height:24px; display:block; padding:11px 0; background:none; color:#ccc; font-size:14px;}
.reg-txt::-webkit-input-placeholder{ color:#ccc;}
.reg-form li.dsp{ font-size:14px; text-align:center; color:#666;}
.zhxx{ padding:10px; background:#FFF; font-size:14px; line-height:2; position:relative; overflow:hidden;}
.zhxx .imgbox{
	height:70%;
	position:absolute;
	right:-5%;
	top:50%;
	-webkit-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	}
.zhxx .imgbox img{ width:auto; height:100%;}

@media all and (min-width:360px){
	.title-bt{ font-size:16px;}
	.plist li .area{ padding:20px 10px 20px 92px;}
	.plist li .text-box{font-size:14px;}
	.plist li .flag{top:20px;}
	.pshow-info .info{ font-size:16px;}
	.pshow-info .counts{ font-size:16px;}
	.pshow-ad li i{ margin:0px 3px 0 10px;}
	.pshow-ad li span{ font-size:14px;}
	.tzjl-list li{ font-size:14px; padding:15px 10px;}
	.tzjl-list li .title{ font-size:18px;}
	.tzjl-list li .price{ font-size:18px;}
	.Assets-info{padding:0 15px; font-size:16px;}
	.Assets-info .title{margin-top:15px;}
	.Assets-info .item1{padding:15px; margin:0 -15px;}
	.Assets-info .counts{padding:15px 0; line-height:30px;}
	.Assets-info .counts .price{ font-size:24px;}
	.Assets-Record li{font-size:16px;}
	.card-model{height:130px;}
	.Red-envelopes li .info{ font-size:18px;}
	.Switch-tab li{ padding:12px 10px;}
	.Switch-tab li .text{line-height:28px;}
	.Switch-tab li .text .name{font-size:16px;}
	.Switch-tab li .text .price{ font-size:28px;}
	.zfxx-tab li .text{ padding:15px 0; line-height:30px;}
	.zfxx-tab li .tap{ padding:15px 20px 15px 0; line-height:30px;}
	.wytz-counts{padding:12px 0; text-align: center; line-height:24px;}
	.info-tab li{font-size:16px;}
	.info-tab li .item{ height:48px; line-height:48px;}
	.tips-text{ font-size:14px;}
	.user-nav li .tap{ height:48px; line-height:48px;}
	.notice-list li .tap{line-height:24px;}
	.notice-list li .title{ font-size:15px;}
	.news-bt{ padding:5px 0 15px;}
	.news-bt .title{font-size:16px;}
	.content{ font-size:14px;}
	.shequ-info .title{ font-size:16px;}
	.shequ-info .texts{ font-size:13px;}
	.Review-list li .name{ font-size:15px;}
	.Review-list li .texts{ font-size:14px;}
	.zhxx{ font-size:15px;}
	}
@media all and (min-width:414px){
	.title-bt{ font-size:18px;}
	.pshow-ad li i{ margin:0px 5px 0 10px;}
	.card-model{height:144px;}
	.Switch-tab li{ padding:15px 10px;}
	.Switch-tab li .text{line-height:30px;}
	.Switch-tab li .text .name{font-size:18px;}
	.Switch-tab li .text .price{ font-size:30px;}
	.info-tab li{font-size:16px;}
	.info-tab li .item{ height:52px; line-height:52px;}
	.shequ-info .title{ font-size:18px;}
	.shequ-info .texts{ font-size:14px;}
	.zhxx{ font-size:16px;}
	}






.nav-bar a.mui-tab-item{border: none; height:44px; line-height:44px; color: #000000; /*display:block;*/ font-size:14px; text-align:center; position:relative;}
.nav-bar .mui-tab-item.mui-active:after{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:2px;
	background:#e4393c;
	content:"";
	font-size:0;
	display:block;
	}

.manbiaoflag { position: absolute; top: 10px; right: 10px; width: 100px; height: 100px; }
.manbiaoflag { background: url(../images/manbiao.png) right center no-repeat; background-size:50% 50%; }

.manbiao { }

.content img { max-width: 100%; height: auto; }

















