
 /*手机充值页面*/ 

.iphone-warp{ width: 100%;              
              margin: 0px; 
            box-shadow: none;
              
              }
.mui-input-row input{width: 100%;                     
                    padding: 0px;
                    border: none;
                    border-radius: 0px;      
					border-bottom:#cbcbcb solid 1px ;
					margin-top: -5px;
					
					
                
                     }
input[type=text]
 {
   
	width: 100%;
	/*margin-bottom: 15px;*/
	padding: 38px 15px;	
	-webkit-user-select: text;	
	outline: 0;
	font-size: 24px;
	background-color: #fff;
	padding-right: 100px;
	-webkit-appearance: none
}                     
.mui-input-row .mui-input-clear~.mui-icon-clear,
.mui-input-row .mui-input-password~.mui-icon-eye,
.mui-input-row .mui-input-speech~.mui-icon-speech {
	font-size: 20px;
	position: absolute;
	z-index: 1;
	top: 22px;
	right: 10px;
	width: 30px;
	height: 30px;
	text-align: center;
	color: #ccc;
}

.mui-input-row .mui-input-clear~.mui-icon-clear.mui-active,
.mui-input-row .mui-input-password~.mui-icon-eye.mui-active,
.mui-input-row .mui-input-speech~.mui-icon-speech.mui-active {
	color: #007aff
}
.mui-input-row .mui-input-speech~.mui-icon-speech {
	font-size: 24px;
	top: 8px
}

.mui-input-row .mui-input-clear~.mui-icon-clear~.mui-icon-speech {
	display: none
}

.mui-input-row .mui-input-clear~.mui-icon-clear.mui-hidden~.mui-icon-speech {
	display: inline-block
}

.mui-input-row .mui-icon-speech~.mui-placeholder {
	right: 38px
}
.iphone-text::-webkit-input-placeholder{ color:#b1b1b1; font-size: 18px;padding-top:3px}

.ui_dialog {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .6);
	z-index: 50;
	display: none
}

.ui_dialog.show {
	display: block
}

.ui_dialog_con {
	width: 90%;
	position: absolute;
	left: 5%;
	top: 30%;
	background: #fff;
	box-shadow: 0px 0px 15px #444;
	border-radius: 5px;
	padding-bottom: 50px;
	overflow: hidden
}

.ui_dialog_con h1 {
	font-size: 17px;
	font-weight: normal;
	padding: 15px 15px;
	text-align: center;
	font-size: 18px;
	border-bottom: 1px solid #f0f0f0;
	margin-bottom: 10px
}

.ui_dialog_con input{font-size: 20px;                     
                     letter-spacing:6px;                     
                      width: 100%;
                      height: 50px;             
                      padding: 0px;
                      border: 1px solid #666;
                      
                     padding-left: 10px;
                  /*   background: url(../images/input-img.png) center no-repeat;                     */
                     /*background: url(../images/icon.png) no-repeat 0px -290px;
	     			  display:block;	     					   	     			 				
	 	  			  background-size:383px;*/
	 	  			 /* background-size:250px;*/
	 	  			
                     }

.ui_dialog_con input::-webkit-input-placeholder{ color:#999;
                                                 font-size: 18px;
                                                 letter-spacing:0px;
                                                 padding-left: 4px;
                                                 padding-top: 1px;
                                                 }
.ui_dialog_con p {
	padding: 5px 15px;
	color: #555;
}
.ui-repaly {
	padding:0px 15px;
	margin-top: -12px;
	color: #555;
	text-align: right;
	font-size: 14px;
	margin-bottom: 15px;
	 text-decoration: underline;
}

.ui_dialog_btn {
	width: 100%;
	position: absolute;
	left: 0px;
	bottom: 0px;
	border-top: 1px solid #f0f0f0;
	overflow: hidden;
	text-align: center
}

.ui_dialog_btn button {
	display: block;
	background: #fff;
	float: left;
	border-radius: 0px;
	border: none;
	width: 50%;
	text-align: center;
	font-size: 18px;
	line-height: 35px
}

.ui_dialog_btn button:active {
	background: #f0f0f0;
	color: #4a4a4a;
}

.ui_dialog_btn button:nth-of-type(2) {
	color: #f96268;
	border-left: 1px solid #f0f0f0;
}
/*拨打弹窗*/
.ui_dialog_conn {
	width: 90%;
	position: absolute;
	left: 5%;
	top: 30%;
	background: #fff;
	box-shadow: 0px 0px 15px #444;
	border-radius: 5px;
	padding-bottom: 50px;
	overflow: hidden
}

.ui_dialog_conn h1 {
	font-size: 17px;
	font-weight: normal;
	padding: 15px 15px;
	text-align: center;
	font-size: 18px;
	border-bottom: 1px solid #f0f0f0;
	margin-bottom: 10px

}

.ui_dialog_conn input{font-size: 20px;                     
                     letter-spacing:2px;                     
                      width: 100%;
                      height: 55px;             
                      padding: 0px;
                      border: 1px solid #979797;                      
                      padding-left: 15px;
                      margin-top: 5px;

	 	  			
                     }

                             
.ui_dialog_conn input::-webkit-input-placeholder{ color:#999;
                                                 font-size: 18px;
                                                 letter-spacing:0px;
                                                 padding-left: 4px;
                                                 padding-top: 1px;
                                                 }
.ui_dialog_conn p {
	padding: 5px 15px;
	color: #555;

}
.ui_dialog_btton {
	width: 100%;
	position: absolute;
	left: 0px;
	bottom: 0px;
	overflow: hidden;
	text-align: center;	
	border-top: 1px solid #f0f0f0;
	margin-top: -10px;
}

.ui_dialog_btton button {
	display: block;
	background: #fff;
	float: left;
	border-radius: 0px;
	border: none;
	width: 50%;
	text-align: center;
	font-size: 18px;
	line-height: 35px;
	color: #4a4a4a;
}

.ui_dialog_btton button:active {
	background: #f0f0f0;
	color: #4a4a4a;
}

.ui_dialog_btton button:nth-of-type(2) {
	
	color: #f96268;
	border-left: 1px solid #f0f0f0;
}
.phone-name{ margin-top: 5px;}
.phone-icosc{
            	    width: 30px; 
                     height: 30px; 
                     background: url(../images/sc-ico.png) no-repeat top right;
                     display:block;						 					
			 		 background-size:28px;
	 
			}
.phone-icoyh{		 width: 30px; 
                     height: 30px; 
                     background: url(../images/yh-ico.png) no-repeat top right;
                     display:block;						 					
			 		 background-size:28px;
	 		
			}			
.iphone-top{width: 100%; 
    		background-size:100% ;
    		 text-align: center;
    		 
    		 }
    		 
.iphone-cz{width: 100%; 	       
	       padding: 15px 10px;
	        
}
.iphone-cz h3{ font-size: 16px; 
			   font-weight: normal; 
			   color:#666;
			   
			   }
			   
.iphone-cz ul { list-style: none; 
                margin: 0 auto;
                padding: 0px;
                width: 100%;
                text-align: center;  
                color:#f96268;
                font-style: normal ;
                
                }
               
.iphone-space > li{ width: 30.9%;
                  height:60px;
                  line-height: 60px;
                  display: inline-block;                                
                  border-radius: 5px;
                  border:1px solid #b3b3b3;
                  margin-top: 10px;
                  margin-left: 6px;
                  color: #b2b2b2;   
                  font-size: 20px;              
                
                  }                  
.iphone-space > li:nth-of-type(1),
.iphone-space > li:nth-of-type(4){margin-left: 0px;}
.iphone-space > li:active{background: #ccc; color: #fff;}  



.iphone-green li{ width: 30.9%;
                  height:60px;
                  padding:10px 0px ;                
                  display: inline-block;                                
                  border-radius: 5px;
                  border:1px solid #f96268 ;
                  margin-top: 10px;
                  margin-left: 6px; 
                  color:#f96268; 
                  font-size: 20px;                           
                
                  }     
.iphone-green  li:active{background: #f96268; color: #fff;  }   
.iphone-green  li:active p{color: #fff;}                           
.iphone-green  li:nth-of-type(1),
.iphone-green  li:nth-of-type(4){margin-left: 0px;}   
.iphone-green  li p{   margin:0px;
                       padding:0px;
                       color:#f96268; 
                       font-size: 12px;                                         
                    
                        
                        }                
  
                        

                      
 .iphone-czjl { width: 100%;
               text-align: center; 
               margin: 0 auto;
               /*position: fixed;
               	z-index: 9999;
				bottom: 20px;                      */             
               font-size: 14px;
               color: #333333;
               height: 40px;               
            
                        
               } 
               
 .iphone-czjl a:active{  color: #333333;}                                 
 .iphone-czjl-icon{
                    width: 25px; 
                     height: 20px; 
                     background: url(../images/my_icon.png) no-repeat -20px -169px;
                     display: inline-block;					
					 text-align: left;					
			 		 background-size:200px;
			 		 position: relative;
			 		 top:5px	
                   }                  
                   
.iphone-drop {padding: 15px;
              background: #fff; 
              display: none; 
              padding-bottom: 0px;
              border-bottom: 1px solid #ccc;
              position:relative;            
              width: 100%;
              top:0px;
              
              
              }                  
.iphone-drop ul { margin: 0px; 
                  padding: 0px;                  
                  
                 
                  }                   
.iphone-drop ul li{ list-style: none; 
                    font-size: 14px;
                    padding: 15px 0px;                  
                    border-bottom: 1px solid #CCCCCC;
                    color: #333;
                    }
.iphone-drop > ul > li:first-child{ margin-top: -15px;
                                   
                                
                                    }                    
.iphone-clear-history{ text-align: center;
						display: block;
						width: 100%;
						padding: 15px;
						padding-bottom: 0px;
						}


.iphone-drop-peo{ float: right;}                                       
                        
 .iphone-ico{ position: absolute; 
              right: 10px; 
              top:19px;
              font-style: normal;
              border: 1px solid #d4d4d4;
              background: #F2F2F2;
              font-size: 14px;
              padding: 4px 15px;
              text-align: center;
              border-radius: 6px;
              color: #4a4a4a;
              display: block;
              }                       
.iphone-ico:active{ background: #d4d4d4;} 
.iphone-replay{ font-size: 35px;letter-spacing:15px;}  
 .iphone-replay::-webkit-input-placeholder{ font-size: 16px;letter-spacing: 2px;}                       
/*充值记录样式*/
.iphone-cont{ color: #333333;}
.iphone-cont p{color: #333333; 
               font-size: 14px;
               margin-top: 2px;           
               
               }
               
.iphone-date{float: left; 
             width: 18%;
             font-size: 14px;
             color:#757575 ;
             
             }
.iphone-date p{color:#757575 ;}             
.iphone-tb-yd{float: left; 
            width:45px; 
            height: 45px;        
            background:url(../images/icon.png) no-repeat 8px -300px;
      	    background-size: 400px;
      	    margin-right: 10px; 	       	   
             
             }    
.iphone-tb-lt{float: left; 
            width:45px; 
            height: 45px;        
            background:url(../images/icon.png) no-repeat -54px -300px;
      	    background-size: 400px;
      	    margin-right: 10px; 	       	   
             
             }   
.iphone-tb-dx{float: left; 
            width:45px; 
            height: 45px;        
            background:url(../images/icon.png) no-repeat -115px -300px;
      	    background-size: 400px;
      	    margin-right: 10px; 	       	   
             
             }                                   
.iphone-money{float: left; 
              width:60% ;
              font-size: 22px;
              
              }
.iphone-money .iphone-first{ display: inline-block;
                             padding: 0px 4px;
                             text-align: center;
                             font-size: 12px;
                             border-radius: 5px;
                             background:#FF6600;
                             color: #ffffff;
                             margin-left: 15px;
                             position: absolute;
                             
                              
                              }             
.iphone-msdz{
             font-size: 12px;              
             color:#ff6600 ;
             position: absolute;
             top: 0px;
             right: 0px;
             
             }
.iphone-czsb{float: right; 
             font-size: 12px; 
             width: 18%; 
             color:#999999 ;
             
             }
.iphone-color{ background: #ff6600;}

.recods-color{ background: #f96268;}
/*充值详情页面*/
.iphone-active-czcg{ background: #fff; 
                     padding: 20px 0px 2px 15px; 
                     font-size: 16px;
                     
                     }
.note-activex{border-bottom: 1px solid #e1e1df;}                     
.note-active-cont{color:#666;}
.note-active-icon{border-top:#e3e3e5 solid 1px ;
			 width:100%;
			 margin-right: -15px;
			 padding:0px 0px 15px 0px;
			 }  
.cz-status{ padding-left: 15px;}
.note-zgyd{background:url(../images/icon.png) no-repeat 8px -186px;
      	   background-size: 250px;
      	   width: 40px;
      	   height: 30px;
      	   display: inline-block;
      	   position: relative;
      	   top:7px 
      	  
      		 }	
.note-zglt{background:url(../images/icon.png) no-repeat -30px -186px;
      	   background-size: 250px;
      	   width: 40px;
      	   height: 30px;
      	   display: inline-block;
      	   position: relative;
      	   top:7px 
      	  
      		 } 
.note-zgdx{background:url(../images/icon.png) no-repeat -70px -186px;
      	   background-size: 250px;
      	   width: 40px;
      	   height: 30px;
      	   display: inline-block;
      	   position: relative;
      	   top:7px 
      	  
      		 }       		      		 		                  
.iphone-active-left{ width: 20%; 
                     float: left;
                     
                     }
.iphone-active-font{ margin-left: 20px; 
                     width: 70%; 
                     float: left;
                     
                     }
.iphone-active-money{ font-size: 36px; 
                      margin-top:20px; 
                      color: #000000;
                      padding-left: 15px;
                      
                      }

.mui-table-view li{ font-size: 14px;


                     }

 .iphone-active-ts{ width: 95%;  					
	               text-align: center; 
	               margin: 0 auto;        
	               color: #7d7d7d;            
	               font-size: 12px;
	               padding:0px 10px 10px 10px;
	               position:absolute;
	               bottom: 2%;
	               left: 2%;
	                      
	                        
	               } 
 .iphone-active-syts{ width: 95%;  					
		               text-align: center; 
		               margin: 0 auto; 	             
		               color: #7d7d7d; 
		               font-size: 12px;
		               padding:0px 10px 10px 10px;
		                        
	                        
	               } 
.iphone-active-kf{color:#f96268 ;}

.iphone-active-icon{ width: 20px; 
                     height: 20px; 
                     background: url(../images/my_icon.png) no-repeat 0px -168px;
                     display: inline-block;					
					 text-align: left;					
			 		 background-size:200px;
			 		 position: relative;
			 		 top:5px	
			 		 		
                     
                     }
.iphone-active-syicon{ width: 20px; 
                     height: 20px; 
                     background: url(../images/my_icon.png) no-repeat -54px -168px;
                     display: inline-block;					
					 text-align: left;					
			 		 background-size:200px;
			 		 position: relative;
			 		 top:5px	
			 		 		
                     
                     }   
                     
#myDIV{font-size:14px; color:#333; position: absolute; top:40px; left: 18px;}                                       
.notes-box{  		
			  width: 50%;  
			  height: 50%; 			 
			  overflow: auto;  
			  margin: auto;  
			  position: absolute;  
			  top: 0; left: 0; bottom: 0; right: 0; 
			  
			  }
.notes-moblie{ background: url(../images/find_icon.png) no-repeat -190px -85px;
			 display: block;
			 width: 80px;
			 height: 60px;
			 background-size: 250px;
			 margin: 0px auto;
			 margin-top: 30px;			 
				
			 }
			 
.notes-box p{ font-size: 16px; 
			  margin-top: 10px;
			  color: #bbb;
			  
			  } 				 
/*完成样式*/
.iphone-fin{ background: #f96268;
             border-radius:50% ; 
             width: 60px; 
             height: 60px; 
             line-height: 50px; 
             text-align: center; 
             color: #FFFFFF;
             margin: 0 auto;
             font-weight: bold;       
             font-size: 35px;
             margin-top: 40px;
             margin-bottom: 40px;
             transform:rotate(30deg);
			-ms-transform:rotate(30deg); /* Internet Explorer */
			-moz-transform:rotate(30deg); /* Firefox */
			-webkit-transform:rotate(30deg); /* Safari 和 Chrome */
			-o-transform:rotate(30deg); /* Opera */
			             
             }
.iphone-fin-font{ margin: 0 auto; 
                  text-align: center;                   
				  width: 100%;
				  font-weight: normal;

}  
.iphone-fin-ico{	width: 70px; 
                     height: 70px; 
                      margin: 0 auto;
                     background: url(../images/my_icon.png) no-repeat  -180px -49px;
                     display: block;									
			 		 background-size:260px;			 		
			 		 text-align: center;
			 		 margin-top: 30px;
			 		 margin-bottom: 25px;
			
			 			
 						
 							 		}
           
           
.iphone-fin-p{  margin: 0 auto; 
                text-align: center;                   
			    width: 100%;
			    color: #646464;
			    margin-top: 10px;
				  
				  }             
.iphone-fin-botton{ width: 80%; 
                    height: 50px; 
                    line-height: 50px; 
                    background: #f96268; 
                    text-align: center; 
                    font-size: 18px;
                    color: #fff;
                    margin: 0 auto;
                    border-radius: 6px;
                    margin-top: 20%;
                    
                    }
/*支付样式*/                    
.iphone-recharge-top{ width: 100%; 
                      text-align: center; 
                      margin: 0 auto;
                      border-bottom: 1px solid #ccc;
                      padding:20px 0px;
                      font-size: 14px;
                      background-color: #fff;
                      
                      }                    
.iphone-recharge-money{ font-size: 35px; 
                       margin-top: 30px; 
                       margin-bottom: 15px;
                       
                       }
.iphone-recharge-bottom{ width: 100%; 
                      text-align: center; 
                      margin: 0 auto;
                      border-top: 1px solid #ccc;
                      border-bottom: 1px solid #ccc;
                      padding:20px 0px;
                      font-size: 14px;
                      background-color: #fff;
                      margin-top: 10px;
                      
                      } 
.iphone-recharge-botton{width: 80%; 
	                    height: 50px; 
	                    line-height: 50px; 
	                    background: #D30830; 
	                    text-align: center; 
	                    color: #fff;
	                    margin: 0 auto;
	                    border-radius: 6px;
	                    margin-top:40px;
	                    font-size: 16px;
                    
                    } 
                    
 .iphone-recharge-botton:active{ background: #a30322}                                        
.iphone-recharge-input{ width: 80%; 
                        margin: 0 auto;
                        
                        }
.iphone-recharge-input input{ height: 50px; 
                              margin: 0px; 
                              padding: 0px;
                              padding-left: 20px;
                              margin-bottom: 30px;
                              
                              }
.iphone-recharge-text::-webkit-input-placeholder{ color:#b1b1b1; 
                                                  font-size: 
                                                  14px;padding-top:5px;
                                                  
                                                  }
.iphone-recharge-dxkf{ margin: 10px auto; 
                       width: 100%; 
                       text-align: center;
                       
                       }  
  
 /*免费电话*/ 
.free-bgcolor{ background: #FFF url(../images/free-bg.png) no-repeat bottom center;}
.free-top  { background: #fff5f6;
			 padding: 30px 15px;
			 text-align: center; 
	
	
	
			}
  
.free-font-color{ color: #db374c;
 				  font-size: 16px;
 				  
 				  }  
.free-font-mcolor{ color: #989394;
 				  font-size: 16px;
 				  
 				  }   				  
 .free-yyw{           
           margin: 15px 0px;
           color:#d0021b;
           font-size: 26px;              
  
            }  
.free-jdt{ border-radius:20px;
           background: #CCC;
           height:15px;
           margin: 15px 0px;              
  
            }  
  
.free-red-jdt{ border-radius:20px;
		         background: #f96268;
		         height:15px;		           
		         position: absolute; 
		         top:66px           
		  
		            }    
  
 .free-color{ color: #d0021b;
 
  			}  
 
 .free-bottom{
			 padding: 30px 15px;
			
	
	
			}                                               
.free-botton{  width:90% ;
               margin: 0 auto; 
               height: 55px; 
               background:#f96268 ; 
               color: #fff;
               text-align: center;
               line-height: 55px;
               border-radius:6px               
               }
.free-botton a{ color: #fff;
				display:block;
				
				}      
				         
.free-botton:active{background:#dd353c ;
					display: block;
					
					}      
					         
 .free-bottom p{ margin: 30px 0px; 
 				text-align: center; 
 				color: #000000;
 				font-size: 16px; 
 				
 				}

.free-tzze   { 		margin: 0px auto;  				
 					list-style: none;
 					font-size: 14px;
 					color: #040404;
 					padding: 0 20px;
 									
 					
 					
 					}
.free-tzze li{ line-height: 40px; 
			   border-bottom: 1px solid #ececec; 
			   display: block;
			   padding: 0px 15px;
			   
			   
			   } 
.free-tzze .free-title{ background: #fff5f6;
						border-bottom: none; 
						color:#666464 ;
						font-size: 15px;
						}			   					
.free-mright{ float: right;

			}
	
/*暂无通话记录*/
.no-records{ background: url(../images/find_icon.png) no-repeat 0px -230px;
			 display: block;
			 width: 80px;
			 height: 80px;
			 background-size: 400px;
			 margin: 0px auto;
			 margin-top: 30px;
			 
				
				 }
.no-records-size{ text-align: center;
 				  color: #000000;
 				  font-size: 18px;
 				  margin: 20px 0px;
 				  
 				  }
.no-moblie-cent{ margin: 0 auto;width: 80%; }				  
.no-mobile{ width: 80%; 
            margin: 0 auto;
            height: 50px;            
            display: block;
            line-height: 50px;
            text-align: center;
            background: #f96268; 
			color:#fff ;
			border-radius: 6px;
			position: fixed;
			bottom:5%;
			
            } 				  
/*历史记录*/
.records-title{ background: #FFF; 
				text-align: center;
				padding: 15px 0px;
				color: #000000;
				
				}
.records-name{float: left;            
             font-size: 14px;
             color: #000000;
             }
.records-date{float: right;               
              font-size: 14px;
               color: #000000;            
              }
.mui-icon-info:before {
	content: '\e504';
	color: #4a90e2;
	margin-left: 30px;
	margin-top: 8px;
}
.records-txll{ border: 1px solid #7d7d7; 
			  background: #fff;			 
              text-align: center;
               position: fixed;
			  bottom: 5%;
              width: 100%;
          	  	  
			  } 
.records-t{ width: 80%; 
            margin: 0 auto;
            height: 50px;            
            display: block;
            line-height: 50px;
            border-bottom: 1px solid #d7d7d7;
            }	
.records-t:active{ background: #f96268; 
					color:#fff ;
					border-radius: 6px;
					border-bottom: none;
					display: block;
					}            
.records-b{ width: 80%; 
            margin: 0 auto;
            height: 50px;            
            display: block;
            line-height: 50px;
           
            }	
.records-b:active{  background: #f96268; 
					color:#fff ;
					border-radius: 6px;
					border-top: none;
					width: 80%; 
					 height: 50px; 
					display: block;
					}  
.records-txll a{ color: #000; display: block;}
.records-txll a:active{color: #fff; display: block;}					
/*拨号界面*/					
.speed-name{ text-align: center; 
			 color: #fff; 
			 margin-top: 10%;
			 font-weight: normal;
			 font-size: 24px;
			 
			 }
.speed-color{ color: #fff;
			  font-size: 14px;
			  margin-top: 0px;
 				  			
 			}
.speed-img{ background: url(../images/find_icon.png) no-repeat -183px 0px;
			 display: block;
			 width: 80px;
			 height: 80px;
			 background-size: 250px;
			 margin: 0px auto;
			 margin-top: 60px;
			 } 				  
.speed-away{ color: #fff;
			 background: #d0021b;
			  width: 60%;
			  margin: 0 auto;
			  text-align: center;
			  height: 40px;
			  line-height: 40px;
			  margin-top: 30%;
			  font-size: 18px;
			  border-radius: 6px;
			 } 				  
.speed-away:active{ background:#ed1731 ;display: block;} 				  
.speed-points{text-align: center;
			  color: #fff;
			  margin-top: 20px;
			  font-size: 12px;
				} 				  
 				  
 /*电话详情*/
.records-active li{ list-style: none; 
					margin: 0px; 
					padding: 0px;
					border-bottom: 1px solid #dedede;
					padding:15px 10px;
					
					
					}
.records-active{ padding:0px 15px 15px 15px;
				 background: #fff;
				 margin-top: 0px;
				 font-size: 14px;
					}	
.records-active p{ color: #000000;
				   font-size: 14px;
				   margin-top: -10px;
				  
				   }					
.records-active-name{ background: #FFF; 
					  text-align: left;					
					  color: #000000;
					  font-size: 18px;
					  font-weight: bold;
					  padding-top: -15px;
					
					
		
						}	
.records-active-time{ float: left;
					  width: 30%;
	
						} 
 									  
.records-active-mob{ 
					display: inline-block;	
					
					}					  
					 
.records-active-second{ float: right;
	
						} 
 
.records-active-mob{ 
					display: inline-block;	
					
					} 
.records-active-p{display: inline-block;
                  color:#4a4a4a;
                  
                  } 
 
/*回款记录*/ 
.hkjl-name{ padding: 15px; font-size: 14px;} 
 .hkjl-cent li{ font-size: 14px;color: #565656; }
.hkjl-name span{ float: right; } 
.hkjl-right{ float: right;font-size: 14px;}
.hkjl-money{ color: #f96268;font-size: 14px;} 		
.hkjl-yuan{color: #565656; font-size: 14px;}	
.hkjl-dai{color: #565656; 
		   margin-left: 2px;
		   font-size: 14px;
		   
		   }	 
.hkjl-tittle{color: #bfbfbf; 
			 margin-top: 5px; 
			 font-size: 14px;
			 padding-left: 16px;
			 
			 }
.hkjl-tubiao{ background: url(../images/tubiao.png) no-repeat left;
              display:inline-block;
              width: 12px;
              height: 12px;
              background-size:8px;
				}			 		     					                        		               