.layermanim h3 {
	font-size: 16px;
}
.aleTelPri{
	color: #E11C25;
	font-size: 20px;
	margin-top: -5px;
}
.aleTelNum{
	color:#333;
 	margin-top:-10px;	
}
.layermcont input {
	padding: 24px 15px;
	font-size: 20px;
	letter-spacing: 6px;
	border: 1px solid #666;
}

.layermcont input::-webkit-input-placeholder {
	color: #999;
	font-size: 16px;
	letter-spacing: 0px;
	padding-left: 4px;
	padding-top: 2px;
	font-weight: normal;
}

.layer-wjmm {
	float: right;
	display: block;
	margin-top: 5px;
	text-align: right;
	color: #555;
	border-bottom: 1px solid #FCB5B9;
	/*text-decoration: underline;*/
}
.layer-wjmm:active{
	border-bottom: none;
}
.layermbtn {
	height: 45px;
	line-height: 45px;
}

.layermbtn span {
	font-size: 16px;
}

.layermbtn span:first-child:hover {
	height: 44px;
}

.layermbtn span:last-child {
	color: #f96268;
}

.layermbtn span:last-child:hover {
	height: 44px;
	border-bottom-right-radius: 5px;
}

.layermbtn span:hover {
	background: #f0f0f0;
	color: #4a4a4a;
}