.header{
	width:100%;
	height:45px;
	background:#fff;
	text-align:center;
	font-size:0px;
	line-height:0px;
	position:fixed;
	z-index:999;
	left:0;
	top:0;
	
	b-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	}
.header:after{
	width:100%;
	height:1px;
	position:absolute;
	left:0;
	bottom:0;
	background:#E6E5E5;
	content:"";
	font-size:0;
	}
header .mui-icon { color: #999; font-size: 14px; }
header .mui-title { color: #333; }
    	#main-box img { max-width: 100%;}
    
    
.content{
	margin-top:5px;
}

.content dt{
	width:160px;
	display:inline-block;
	text-align:right;
	float:left;
	
}
.content dd{
	margin-left:100px;
	margin-bottom:5px;
}
.content dd input{
	width: 100px;
}

.recharge-money{ margin: 10px; 
				 font-size: 14px;
				 color: #535353;
				 }

.recharge-money span{ color: #d10720;
					
					}
.mui-table-view-cell {
	position: relative;
	overflow: hidden;
	padding: 15px 15px;
	-webkit-touch-callout: none
}
.mui-table-view-cell:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0px;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc
}
.recharge-je{ background: #fff;
			  width: 100%;
  			  border-top: 1px solid #d6d6d6;
			  border-bottom: 1px solid #d6d6d6;
			  padding:15px;
			  font-size: 14px;
			  color: #000;
			  margin-bottom: 10px;
			  
			  
			}
.recharge-sfz{ font-size: 14px;
				color: #000;
				
				
				}

.recharge-xx{ float: right;
			  text-align: left; 
			  width: 70%;
			  
			  }
.recharge-card-ico{ background:url(../images/find_icon.png) 0px -176px no-repeat;
 			    display: block;
 			    width: 24px;
 			    height: 23px;
 			    background-size:200px;
 			    position:relative;
 			    float: left;
 			    top:-2px			    		    
                
				}
.recharge-card{margin-left:8px; float: left;}				
.recharge-tins{ padding: 10px; 
			  	background: #fbdfdf;
			  	text-align: center;
			  	}
.recharge-ts{  padding: 10px 10px 10px 15px; 
			   color: #d0021b;		  	
			  	
			  	}			  	
.recharge-finished{ padding: 13px; 
					width: 88%; 
					background: #bcbcbc;
					color: #fff;
					margin: 20px auto;
					border-radius: 6px;
					text-align: center;
					font-size: 16px;
					display: block;
					
					}
.recharge-finished:hover{color: #fff;}					
/*.recharge-finished:hover{background: #f96268;color: #fff;}*/
.recharge-input{float: right;
			    text-align: left; 
			    width: 70%;
			   
			 	  }
input[type=number],input[type=text],select{
  width: 70%;  
  padding: 0px;
  height: 20px;
  margin: 0px;
  border: 0px;
  background: none;   
}

.recharge-find{ 	padding: 13px; 
					width: 88%; 
					background: #f96268;
					color: #fff;
					margin: 20px auto;
					border-radius: 6px;
					text-align: center;
					font-size: 16px;
					display: block;
					border: solid 1px #e12b32;				
					margin-bottom: 20px;
					
					}
.recharge-find:hover{color: #fff; 
					 background: #e12b32;
					 
					 }
.recharge-ss{ float: right;
			  text-align: left; 
			   width: 68%;
			/*  height: 40px; */
			  padding: 0px; 
			  border: 0px;			
			  background: none;
			  font-size: 14px;
			  
			  }	

.recharge-kkyhk{color:#cccccc ;}
.font-moey{ font-size: 16px; font-weight: bold;}
.font-moey::-webkit-input-placeholder{ font-size: 14px; font-weight: normal;}

.mui-table-view-cell>.mui-btn{ position: absolute;
								  top: 25px;
								  height: 40px;
								  right: 0px;
								  line-height: 40px;
								  
								}

.mui-table-view-cell>.mui-btn:hover{ background: none; 
									border-radius: 0px;
									color: #000000;
									}		  


.mui-input-row .mui-input-clear~.mui-icon-clear,
.mui-input-row .mui-input-password~.mui-icon-eye,
.mui-input-row .mui-input-speech~.mui-icon-speech {
	font-size: 20px;
	position: absolute;
	z-index: 1;
	top: 15px;
	right: 10px;
	width: 30px;
	height: 30px;
	text-align: center;
	color: #999
}
.recharge-foot{ margin: 0 auto;
				text-align: center; 			
				width: 120px;
				height: 28px;
				position: absolute ;
				bottom: 20px;
				left: 50%;
				margin-left: -60px;
				overflow: hidden;d				
				
				}
.recharge-foot a{font-size: 14px;
				color: #656565;
				
				}
				
.recharge-foot .footer-ico{ width: 20px; 
							height: 20px;
							display: inline-block; 
							background: url(../images/my_icon.png) 0px -406px;
							background-size: 220px;
							position:relative;
							top:5px;
							right: 2px;
							
							}

.re-cjwt li{  padding: 25px 15px 25px 15px;}
.re-cjwt h4{ color: #000000;font-size: 16px; }

.re-cjwt p{ margin-top: 10px;color: #7b7b7b;text-align: justify;}





					 	