@charset "UTF-8";
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box
}

html,
body {
	font-size: 15px;
	color: #333;
	font-family: "microsoft YaHei", "宋体", Arial;
	position: relative;
	background: #f8f8f8;

}

a {
	color: #333;
	text-decoration: none;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

a:hover {
	color: #222;
	text-decoration: none;
	display: block;
}

a:focus,
input:focus,
textarea:focus {
	outline: none
}

input,
button,
textarea {
	font-family: "microsoft YaHei", "宋体", Arial;
	-webkit-appearance: none;
	font-size: 15px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

img,
a img {
	border: 0px;
	vertical-align: middle
}

ul {
	list-style: none;
	margin: 0px;
	padding: 0px
}

ul li {
	list-style: none;
	margin: 0px;
	padding: 0px;
	
}

form {
	margin: 0;
	padding: 0;
	list-style: none
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0;
	padding: 0
}
.tap{display:block; position:relative;}
.user-bar{background:#FFF; border-bottom:#ebebeb 1px solid; font-size:0; line-height:0;}
.user-bar .tap{ padding:10px 30px 10px 10px; position:relative;}
.user-bar .imgbox{ display:inline-block; vertical-align:middle; width:18%;}
.user-bar .text{ vertical-align:middle; display:inline-block; margin-left:10px; line-height:24px; font-size:14px;}
.user-bar .text .name{ font-size:16px;}
.user-bar .ico-arrow{ position:absolute; right:5px; top:50%; margin-top:-10px;}

.user-nav{ margin-top:10px; background:#FFF;}
.user-nav li{ border-bottom:#e1e1e1 1px solid; font-size:15px;}
.user-nav li .tap{ height:44px; line-height:44px; padding:0 10px 0 38px;}
.user-nav li .ico-arrow{ position:absolute; right:5px; top:50%; margin-top:-10px;}
.user-nav li .ico18{ position:absolute; left:10px; top:50%; margin-top:-9px;}
.ui_wrap_cell{ margin-top:0px; padding:0px;}
.ui_iphone{ width:66%; 
            margin: 0px auto; 
             color: #555555; 
            font-size: 12px; 
            text-align:center; 
            line-height: 20px;
            margin-top: 15px;
           margin-bottom: 15px;
           padding: 8px;
           border: solid 1px #e5e5e5; ;
           border-radius:10px ;
           background: #f2f2f2;
          
            
            }
 .ui_iphone_font{ font-size: 14px;color: #555555; margin-top: -2px;  background: none;}   
 .ui_iphone_img{background: url(../images/find_icon.png) no-repeat -53px -73px; width: 34px; height: 35px; display:block; float: left; 
 background-size:300px 300px;}        
 .ui_iphone p{ font-size: 12px;color: #999;}      
 
.ui_item_cell {
	width: 100%;
	position: relative;
	overflow: hidden;
	
}

.ui_item_cell > li,
.ui_item_cell > div {
	position: relative;
	background: #fff;
	width: 100%;

}

.ui_link_cell:active,
.ui_cell_active:active,
.ui_link_cell > li:active {
	background: #f0f0f0;
	display: block;
}

.ui_cell_active > li:active,
.ui_cell_active > div:active {
	background: #f0f0f0;	display: block;
}

.ui_cell_arrow > li,
.ui_cell_arrow > div {
	padding-right: 12px;
}

.ui_cell_arrow > li:after,
.ui_cell_arrow > div:after,
.ui_arrow:after {
	content: '';
	display: block;
	-webkit-transform: rotate(45deg) translate3d(0px, -50%, 0px);
	-ms-transform: rotate(45deg) translate3d(0px, -50%, 0px);
	transform: rotate(45deg) translate3d(0px, -50%, 0px);
	height: 7px;
	width: 7px;
	border-width: 2px 2px 0 0;
	border-color: #C8C8CD;
	border-style: solid;
	position: absolute;
	top: 50%;
	right: 15px;
}

.ui_item_cell {
	border-bottom: 1px solid #f0f0f0;
	border-top: 1px solid #f0f0f0;
	overflow: hidden;
	margin-top: 20px;
}

.ui_item_cell > li:first-child:before,
.ui_item_cell > div:first-child:before {
	display: none;
}

.ui_item_cell > li:before,
.ui_item_cell > div:before {
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background: #e5e5e5;
	position: absolute;
	left: 12px;
	top: 0px;
	transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	transform: scaleY(.5);
	-webkit-transform: scaleY(.5)
}

.ui_link_cell > li > a {
	display: block;
	padding: 13px 12px ;
}

.ui_cell_img > li,
.ui_cell_img > div {
	padding: 20px 12px 20px 20px;
	position: relative; display: block;
}
/*发现栏目图标*/
.ui_cell_img .icon_news{
	background: url(../images/find_icon.png) no-repeat 0px 0px; width: 28px; height: 18px; display:block; float: left; 
 background-size:250px 250px; margin-right: 10px;	
	
}
.ui_cell_img .icon_activity{
	background: url(../images/find_icon.png) no-repeat -35px 0px; width: 28px; height: 28px; display:block; float: left; 
 background-size:250px 250px; margin-right: 10px;	
	
}
.ui_cell_img .icon_jcts{
	background: url(../images/find_icon.png) no-repeat -42px -100px; width: 28px; height: 28px; display:block; float: left; 
 background-size:250px 250px; margin-right: 10px;	
	
}
.ui_cell_img .icon_mall{
	background: url(../images/find_icon.png) no-repeat -72px 0px; width: 28px; height: 28px; display:block; float: left; 
  background-size:250px 250px;margin-right: 10px;	
	
}
.ui_cell_img .icon_forum{
	background: url(../images/find_icon.png) no-repeat -115px 0px; width: 28px; height: 25px; display:block; float: left; 
 background-size:250px 250px; margin-right: 10px;	
	
}
.ui_cell_img .icon_help{
	background: url(../images/find_icon.png) no-repeat 0px -34px; width: 28px; height: 26px; display:block; float: left; 
 background-size:250px 250px; margin-right: 10px;	
	
}
.ui_cell_img .icon_follow{
	background: url(../images/find_icon.png) no-repeat -35px -34px; width: 28px; height: 28px; display:block; float: left; 
 background-size:250px 250px; margin-right: 10px;	
	
}
.ui_cell_img .icon_about{
	background: url(../images/find_icon.png) no-repeat -69px -34px; width: 28px; height: 25px; display:block; float: left; 
 background-size:250px 250px; margin-right: 10px;	
	
}
.ui_cell_img .icon_bbh{
	background: url(../images/find_icon.png) no-repeat -80px -104px; width: 28px; height: 28px; display:block; float: left; 
 background-size:250px 250px; margin-right: 10px;	
	
}
.ui_cell_img > li img,
.ui_cell_img > div img {
	position: absolute;
	left: 12px;
	top: 50%;
	width: 24px;
	transform: translate3d(0px, -50%, 0px);
	-webkit-transform: translate3d(0px, -50%, 0px);
	border-radius: 3px
}

.ui_cell_explain > li,
.ui_cell_explain > div {
	padding: 13px 12px
}
 .mar_ui{margin-top: -1px;}    
.ui_cell_radio .ui_radio,
.ui_cell_radio .ui_check {
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translate3d(0px, -50%, 0px);
	-webkit-transform: translate3d(0px, -50%, 0px)
}

.ui_radio {
	width: 20px;
	height: 20px;
	display: inline-block;
	position: relative;
	top: 50%
}

.ui_radio input {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0
}

.ui_radio span {
	display: block;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 1;
	border: 1px solid #ccc;
	position: absolute;
	left: 0px;
	top: 0px;
	border-radius: 50%
}

.ui_radio input:checked + span {
	border: 1px solid #09BB07;
	display: block;
	width: 100%;
	height: 100%;
	background: #fff;
	position: absolute;
	left: 0px;
	top: 0px;
	border-radius: 50%
}

.ui_radio input:checked + span:after {
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	background: #09BB07;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -5px;
	margin-top: -5px
}

.ui_check {
	width: 20px;
	height: 20px;
	display: inline-block;
	position: relative;
	top: 50%
}

.ui_check input {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0
}

.ui_check span {
	display: block;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 1;
	border: 1px solid #ccc;
	position: absolute;
	left: 0px;
	top: 0px;
	border-radius: 50%
}

.ui_check input:checked + span {
	border: 1px solid #09BB07;
	display: block;
	width: 100%;
	height: 100%;
	background: #09BB07;
	position: absolute;
	left: 0px;
	top: 0px;
	border-radius: 50%
}

.ui_check input:checked + span:after {
	content: '';
	display: block;
	width: 12px;
	height: 5px;
	border: 1px solid #fff;
	position: absolute;
	left: 3px;
	top: 5px;
	opacity: 1;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	border-right: none;
	border-top: none;
	z-index: 8
}

.ui_check_label {
	display: block;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	padding: 12px 12px 12px 41px;
	position: relative
}

.ui_cell_form {}

.ui_cell_form > li,
.ui_cell_form > div {
	height: 44px;
	line-height: 44px;
	padding: 0 0 0 85px;
	position: relative
}

.ui_cell_form > li span,
.ui_cell_form > div span {
	position: absolute;
	left: 12px;
	top: 0px
}

.ui_cell_form > li input,
.ui_cell_form > div input {
	height: 100%;
	display: block;
	width: 100%;
	padding: 0 20px;
	border: none;
	border-radius: 0px;
	background: none;
	text-align: right;
	color: #9f9f9f;
}
.ui_cell_form > li:last-child input{ padding-right:140px;}
.ui_cell_form textarea {
	background: #ccc;
	border: none;
	padding: 12px 6px;
	border-radius: 0px;
	width: 100%;
	height: 80px;
	background: none
}

.ui_code .ui_getCode {
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 8px;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;	
	border: #c3c3c3 solid 1px;
	background: #f7f7f7;
	border-radius:4px;
}

.ui_code .ui_getCode:active {
	background: #ccc;
	color: #fff;
	display: inline-block;
}

.ui_error input {}

.ui_textarea {
	height: auto!important
}

.ui_item_textarea {
	background: #fff
}

.ui_item_textarea textarea {
	border-radius: 0px;
	width: 100%;
	height: 80px;
	background: none;
	padding: 7px 12px;
	border: none
}

.ui_cell_select select {
	height: 44px;
	width: 100%;
	font-size: 15px;
	-webkit-appearance: none;
	outline: 0;
	border: none;
	background: none;
	padding-left: 12px
}

.ui_button {
	width: 90%;
	display: block;
	margin: 0 auto;
	line-height: 40px;
	background: #04be02;
	border-radius: 4px;
	color: #fff;
	text-align: center;
	font-size: 16px;
	margin-bottom: 15px
}

.ui_button:active {
	opacity: 0.7
}

.ui_button:hover {
	color: #fff
}

.ui_btn_disabled {
	opacity: 0.7
}

.ui_button_theme1 {
	background: #ef4f4f
}

.ui_button_theme2 {
	background: #fff;
	border: 1px solid #ccc;
	color: #222
}

.ui_button_theme2:hover {
	color: #222
}

.ui_button_inline {
	display: inline-block;
	padding: 3px 10px;
	background: #04be02;
	color: #fff;
	border-radius: 4px
}

.ui_button_inline:hover {
	color: #fff
}

.ui_cell_news > li,
.ui_cell_news > div {
	min-height: 83px;
	padding: 12px 12px 12px 80px
}

.ui_cell_news > li img,
.ui_cell_news > div img {
	width: 60px;
	height: 60px;
	position: absolute;
	left: 12px;
	top: 12px;
	border-radius: 3px
}

.ui_cell_news h1 {
	font-size: 15px;
	font-weight: normal
}

.ui_cell_news p {
	font-size: 12px;
	color: #888;
	margin-top: 4px;
	text-align: justify
}

.ui_tips {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	background: rgba(0, 0, 0, 0);
	opacity: 0;
	z-index: 100;
	display: none;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease
}

.ui_tips .ui_tips_con {
	display: inline-block;
	position: absolute;
	padding: 15px;
	text-align: center;
	background: rgba(0, 0, 0, .5);
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
	-webkit-transform: translate3d(-50%, -50%, 0);
	color: #fff;
	border-radius: 5px
}

.ui_tips.show {
	opacity: 1
}

.ui_tips_bar {
	width: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	line-height: 35px;
	background: rgba(255, 0, 0, .9);
	z-index: 100;
	text-align: center;
	color: #fff;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	opacity: 0;
	transform: translate3d(0%, -100%, 0);
	-webkit-transform: translate3d(0%, -100%, 0)
}

.ui_tips_bar.show {
	opacity: 1;
	transform: translate3d(0%, -0%, 0);
	-webkit-transform: translate3d(0%, -0%, 0)
}

.ui_dialog {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .6);
	z-index: 50;
	display: none
}

.ui_dialog.show {
	display: block
}

.ui_dialog_con {
	width: 90%;
	position: absolute;
	left: 5%;
	top: 30%;
	background: #fff;
	box-shadow: 0px 0px 15px #444;
	border-radius: 5px;
	padding-bottom: 55px;
	overflow: hidden
}

.ui_dialog_con h1 {
	font-size: 17px;
	font-weight: normal;
	padding: 6px 15px;
	border-bottom: 1px solid #f0f0f0;
	margin-bottom: 10px
}

.ui_dialog_con p {
	padding: 5px 15px;
	color: #555
}

.ui_dialog_btn {
	width: 100%;

	position: absolute;
	left: 0px;
	bottom: 0px;
	border-top: 1px solid #f0f0f0;
	overflow: hidden;
	text-align: center
}

.ui_dialog_btn button {
	display: block;
	background: #fff;
	float: left;
	border-radius: 0px;
	border: none;
	width: 50%;
	text-align: center;
	font-size: 16px;
	line-height: 45px
}

.ui_dialog_btn button:active {
	background: #f0f0f0
}

.ui_dialog_btn button:nth-of-type(2) {
	background: #f1f1f1;
	color: #09BB07
}

.ui_dialog_con1 button {
	width: 100%;
	text-align: center
}

.ui_dialog_con1 h1,
.ui_dialog_con1 p {
	text-align: center
}

.mui-scroll-wrapper {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	-webkit-backface-visibility: hidden
}

.mui-scroll {
	position: absolute;
	z-index: 1;
	width: 100%;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden
}

.mui-scrollbar {
	position: absolute;
	z-index: 9998;
	overflow: hidden;
	-webkit-transition: 500ms;
	transition: 500ms;
	transform: translateZ(0px);
	pointer-events: none;
	opacity: 0
}

.mui-scrollbar-vertical {
	top: 0;
	right: 1px;
	bottom: 2px;
	width: 4px
}

.mui-scrollbar-vertical .mui-scrollbar-indicator {
	width: 100%
}

.mui-scrollbar-horizontal {
	right: 2px;
	bottom: 0;
	left: 2px;
	height: 4px
}

.mui-scrollbar-horizontal .mui-scrollbar-indicator {
	height: 100%
}

.mui-scrollbar-indicator {
	position: absolute;
	display: block;
	box-sizing: border-box;
	-webkit-transition: .01s cubic-bezier(.1, .57, .1, 1);
	transition: .01s cubic-bezier(.1, .57, .1, 1);
	transform: translate(0px, 0) translateZ(0px);
	border: 1px solid rgba(255, 255, 255, .80196);
	border-radius: 2px;
	background: rgba(0, 0, 0, .39804)
}
.user-bar{background:#FFF; border-bottom:#ebebeb 1px solid; font-size:0; line-height:0;}
.user-bar .tap{ padding:10px 30px 10px 10px; position:relative;}
.user-bar .imgbox{ display:inline-block; vertical-align:middle; width:18%;}
.user-bar .text{ vertical-align:middle; display:inline-block; margin-left:10px; line-height:24px; font-size:14px;}
.user-bar .text .name{ font-size:16px;}
.user-bar .ico-arrow{ position:absolute; right:5px; top:50%; margin-top:-10px;}

#bbh:after {
	
	width: 0px;
	height: 0px;
   border: none;
}

.bbh-style{ float:right; font-size: 14px;}
/*我要借款样式*/
.mortgage-bottom{ width:90%;
                  margin: 0 auto; 
                  border-radius:8px;
                  background:#f78a2b; 
                  display: block;
                  height: 45px;
                  line-height: 45px;
                  text-align: center;
                  color: #FFFFFF;
                  margin-top: 20px;
                  
                  
                  }
                  
.mortgage-bottom:hover{background:#ce660b; }                  
.mortgage-submit{ width: 90%;
                  margin: 0 auto;
                  text-align: left;
                  margin-top: 10px; 
                
                
                 } 
                 

.mortgage-agreement{ color:#e69347 ;
                     display: inline-block;	
	               
	                }               
                           
.mortgage-agreement:hover{display: inline-block;	
	                      color:#e69347 
	 
						 }
.mortgage-banner{width: 100%;                 
                 background:url(../images/mortgage-banner.png) no-repeat center;
                 background-size:100%;
                 display: block;
                 padding: 30px 0 30px 0;                
	
	
	
				}
.mortgage-banner p{ text-align:center;
                    padding: 18px 0px 18px 0px;  
                    color: #fff;
                    letter-spacing:1px;
                    font-weight: normal;           		
             		
             		}
             		
             		
/*.mortgage-logo{ background: url(../images/user.png) no-repeat center;
width: 60px;
height: 60px;
display: block;
background-size:100%;
margin: 0 auto;
	
	       		
				}*/
.mortgage-color{ color: #fff600; font-weight: bold;}
.mortgage-img{width: 100%; margin-top: 15px;; border-top: #dedfda solid 1px;border-bottom: #dedfda solid 1px;}
.mortgage-img img{ background-size:100%; width: 100%;}

/*理财*/

.invest-dan{ color: #3cb7f3; 
             border: solid 1px #3cb7f3; 
             font-style: normal; 
             border-radius:50%;
             width: 20px;
             height: 20px;
             text-align: center;
             line-height: 20px;         
             float: left;
             margin-top: 7px;
             font-size: 12px;
             
             }
.invest-xin{ color: #e99128; 
             border: solid 1px #e99128; 
            font-style: normal; 
             border-radius:50%;
             width: 26px;
             height: 26px;
             text-align: center;
             line-height: 26px;;           
             font-weight: bold;
             float: left;
             margin-top: 5px;
             
             
             }
.invest-ju{ color: #6ec426; 
             border: solid 1px #6ec426; 
            font-style: normal; 
             border-radius:50%;
             width: 26px;
             height: 26px;
             text-align: center;
             line-height: 26px;;           
             font-weight: bold;
             float: left;
             margin-top: 5px;
             
             
             }
.invest-title{ color: #000000;
               font-size: 16px;
               display:inline-block;
               margin-left: 5px;               
               margin-top: 10px;
                
             
             
             
             }
.invest-money{ float: right;
               margin-top: 8PX;
               color: #aaaaaa;
	    	   font-size: 14px;
	    	
	
	 
				}

.invest-red{ color: #f95453; 
             font-weight: bold;
             font-size: 14px;
           
           
           
           
           }

.invest-left{ float: left;              

     		
     		
     		}

.invest-right{ float: right;
               width: 46px;
               height: 46px;
               line-height: 46px;
               text-align: center;
               border: solid 1px #f95453;
               border-radius: 50%;
               background: #fff;
               color: #fff;
               padding: 2px;


     		
     		
     		}
.invest-botton{width: 40px;
               height: 40px;
               line-height: 42px;
               text-align: center;
               border: solid 1px #f95453;
               border-radius: 50%;
               background: #f95453;
               color: #fff;
               display: block;
               
               }




