<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/css.css" rel="stylesheet"/>
		<style>
			.mui-table-view{
				margin-bottom: 16px;
			}
			.mui-table-view span{
				color: #999;
				float: right;
			}
			#userName{
				color: #333;
			}
			.mui-table-view-cell{
				height: 50px;
				line-height: 50px;
				padding-top: 0;
				padding-bottom: 0;
				font-size: 16px;
				color: #333;
			}
			.mui-table-view-cell>a:not(.mui-btn){
				height: 50px;
				line-height: 50px;
				margin: 0 -15px;
			}
			.mui-navigate-right:after, .mui-push-left:after, .mui-push-right:after{
				font-size: 24px;
				top: 51%;
			}
			.exi-btn{
				position: relative;
				height: 50px;
				text-align: center;
			}
			.exi-btn a{
				font-size: 18px;
				display: block;
				background: #fff;
				width: 100%;
				height: 50px;
				line-height: 50px;
			}
			.back-img{
				width: 30px;
				height: auto;
				/*float: right;*/
				margin-right: 10px;
				margin-bottom: -8px;
			}
		</style>
	</head>
		

	<body>
		<div class="mui-content" style="display: none;">
			<div id="userBox">	
			</div>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					手势密码
					<div class="mui-switch mui-switch-green mui-switch-mini" id="switch_ssmm">
						<div class="mui-switch-handle"></div>
					</div>
				</li>
				<li class="mui-table-view-cell">
					自动投资
					<div class="mui-switch mui-switch-green mui-switch-mini" id="switch_auto">
						<div class="mui-switch-handle"></div>
					</div>
				</li>
			</ul>
			
			<ul class="mui-table-view exi-btn">
				 <a id="logOut">退出登录</a>
			</ul>
			
		</div>
		<script id="tpl" type="text/html">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">账户<span id="userName">{{username}}</span></li>
			</ul>
			<ul class="mui-table-view">
				{{if sm_status=="1"&&realname!=null}}
				<li class="mui-table-view-cell">姓名<span>{{realname}}</span></li> 
				<li class="mui-table-view-cell">身份证<span>{{_realname.card_id}}</span></li>
					{{if account!=null}}
					<li class="mui-table-view-cell">银行卡<span><img class="back-img" src="images/bank/bank_{{bank}}.png"/>{{bank_name}}(尾号{{account}})</span></li>
					{{else}}
					<li class="mui-table-view-cell">
						<a href="smrz_w_recharge.html" class="mui-navigate-right tap">
							银行卡
							<span style="margin-right: 25px;">未认证</span>
						</a>
					</li> 
					{{/if}}
				{{else}}
				<li class="mui-table-view-cell">
					<a href="smrz_w_recharge.html" class="mui-navigate-right tap">
						姓名
						<span style="margin-right: 25px;">未认证</span>
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a href="smrz_w_recharge.html" class="mui-navigate-right tap">
						身份证
						<span style="margin-right: 25px;">未认证</span>
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a href="smrz_w_recharge.html" class="mui-navigate-right tap">
						银行卡
						<span style="margin-right: 25px;">未认证</span>
					</a>
				</li>
				{{/if}}
			</ul>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a href="wjmm.html" class="mui-navigate-right tap" data='{"title":"修改登录密码"}'>
						修改登录密码
					</a>
				</li>
				{{if account_str==""||paypassword==""}}
				<li class="mui-table-view-cell">
					<a href="set_paypassword.html" class="mui-navigate-right tap" data='{"title":"设置交易密码"}'>
						交易密码	
						<span style="margin-right: 25px;">未设置</span>
					</a>
				</li>
				{{else}}
				<li class="mui-table-view-cell">
					<a href="change_paypassword.html" class="mui-navigate-right tap" data='{"title":"设置交易密码"}'>
						交易密码	
					</a>
				</li>
				{{/if}}
			</ul>
		</script>
		<script src="js/mui.min.js"></script>
		<script type="text/javascript" src="js/common.js" ></script>
		<script type="text/javascript" src="js/api.js" ></script>
		<script src="js/template.js"></script>
		<script src="js/template.function.js"></script>
		<script type="text/javascript">
			mui.init()
			mui.plusReady(function(){
				//判断有无开启手势密码
				if(store.get("shoushi_status")){
					document.getElementById("switch_ssmm").classList.add('mui-active');
				}else{
					document.getElementById("switch_ssmm").classList.remove('mui-active');
				}
				user.UserInfo({'request':{"user_id":user.uid()}},function(r){
					var sm_status = r.realname_status
					request = {"user_id":user.uid()};
	      			account.GetUsersBankOne({'request':request},function(res){
	      				res.sm_status = sm_status
	      				console.log(JSON.stringify(res)) 
	      				res.username = res.username.slice(0,3)+"****"+res.username.slice(-4) 
	      				if(res.sm_status=="1"&&res.realname!=null){ //已经实名
							res._realname.card_id = res._realname.card_id.slice(0,2) + "******************" + res._realname.card_id.slice(-2);
							if(res.account!=null){//实名有银行卡
								res.account = res.account.slice(-4)
							}   
	      				}
	      				var html = template("tpl",res);
		      			document.getElementById("userBox").innerHTML = html;
		      			document.getElementsByClassName("mui-content")[0].style.display="block";
						//$('#bodybox').show();	
	      			})

		  		})
 
      			mui("body").on('tap','a.tap',function(e){
      				e.preventDefault()
					var url = this.getAttribute('href');
					href = this.href;
					if(url == "") 
					return;
					var data = this.getAttribute('data');
					if(data){
						data = eval("(" + data + ")");
						inittemplate = getTemplate('template', 'template.html');
						var headerWebview = inittemplate.header;
						var contentWebview = inittemplate.content;
						contentWebview.loadURL(href);
						var right_btn = data.right_btn || "";
						mui.fire(headerWebview, 'updateHeader', {
							title: data.title,
							showMenu: false,
							right_btn:right_btn
						});
						mui.fire(headerWebview, 'loading');
						//判断异地登录
						functionCom.checkToken(function(res){
							//console.log(res.error_no)
							if(res.error_no!=401){
								headerWebview.show('slide-in-right', 150);
							}
						})//结束
					}
					else{
						var	recharge=plus.webview.create('/smrz_w_recharge.html','smrz_w_recharge.html',{'popGesture':'close'});
						//判断异地登录
						functionCom.checkToken(function(res){
							//console.log(res.error_no)
							if(res.error_no!=401){
								setTimeout(function(){
								recharge.show("slide-in-right",100);
							},50);
							}
						})//结束
						recharge.addEventListener('loaded',function(){
							mui.fire(recharge,'smrz',{
								sale_price:1
							});
						});
					}	
				})
      			document.getElementById("switch_ssmm").addEventListener('toggle',function (e) {
      				//判断异地登录
					functionCom.checkToken(function(res){
						//console.log(res.error_no)
						if(res.error_no!=401){
							var isActive = e.detail.isActive;
							if (isActive) {
								mui.openWindow({url:'permission.html', id:'permission'});
							} else {
								//plus.storage.removeItem('shoushimima');
								user.UpdateShoushiStatus({"request":{"user_id":user.uid(),"shoushi_status":"0"}},function(res){
	                			//关闭手势密码
	                			store.delete('shoushi_status');
								store.delete('shoushi_psw');
	                			//console.log(JSON.stringify(res))
			                	})
							}	
						}
					})//结束
				});
				
				document.getElementById("switch_auto").addEventListener('toggle', function(event) {
					//mui.alert(this.classList.contains('mui-active')+9)
					if(!this.classList.contains('mui-active')){  
						
					}else{
						mui.alert("功能升级中",function(e){  
							if(e.index==0){
								mui('#switch_auto').switch().toggle()	
							}  
						})
					} 
					/*mui.alert("功能升级中",function(e){
						if(e.index==0){
							//plus.webview.currentWebview().reload()
							
						} 
					})*/
					/*functionCom.checkToken(function(res){
						//console.log(res.error_no)
						if(res.error_no!=401){
							request = {};
							request.user_id = user.uid();
							request.auto = event.detail.isActive ? 1 : 0;
							borrow.lantou(request,function(res){
								if(res.status == 0){
									plus.nativeUI.alert(res.msg);
								}else{
									//plus.nativeUI.toast('操作成功');
									plus.nativeUI.toast(request.auto ? "已开启" : "已关闭",{"verticalAlign": "center"});
								}
							});
						}
					})//结束*/
				});
      			mui('body').on('tap', '#logOut', function(e){
					e.stopPropagation();
					user.logout({},function(res){
						console.log('logout');
						plus.nativeUI.toast('成功退出');
						mui.fire(plus.webview.getLaunchWebview(),'gohome');
		//				plus.runtime.quit();
						login();
						setTimeout(function(){
							plus.webview.currentWebview().parent().evalJS("mui.back();");
						},1000);
					});
				})
      			
      			//返回刷新
      			document.addEventListener("refresh",function(e){
      				//判断有无设置手势密码
					plus.webview.currentWebview().reload()
      			})
			})
		</script>
	</body>

</html>