<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="../js/mui.min.js"></script>
    <link href="../css/mui.min.css" rel="stylesheet"/>
    <link href="../css/css.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" charset="utf-8">
      	mui.init();
    </script>
    
</head>
<body>
	
		<nav class="mui-bar-nav mui-bar-tab nav-bar" style="top:0px;">
			<a class="mui-tab-item mui-active" href="#tabbar-unused">
				<span class="mui-tab-label">未使用</span>
			</a>
			<a class="mui-tab-item" href="#tabbar-with-used">
				<span class="mui-tab-label">已使用</span>
			</a>
			<a class="mui-tab-item" href="#tabbar-with-guoqi">
				<span class="mui-tab-label">已过期</span>
			</a>
		</nav>
	<div class="mui-content">

		<div id="tabbar-unused" class="mui-control-content mui-active">
			<ul class="Red-envelopes" id="hblist-1">
			
			</ul>


<div class="Warm-tip clearfix">
<i class="ico-tip icon"></i>
<p class="title">红包使用规则：</p>
<div>
1. 每个红包都有不同的红包类型和使用有效期，红包只能用于投资抵扣，不能用来兑换和提现；<br />
2. 红包金额小于20元时，红包金额不能大于投资金额的1%；<br />
3. 红包金额大于等于20元时，红包金额不能大于投资金额的0.5%。
</div>

</div>


		</div>
		<div id="tabbar-with-used" class="mui-control-content">
			<ul class="Red-envelopes" id="hblist-2">
			
			</ul>
		</div>
		<div id="tabbar-with-guoqi" class="mui-control-content">
			<ul class="Red-envelopes" id="hblist-3">
			
			</ul>
		</div>
	</div>

<script id="tpl-item-1" type="text/html">
	{{each list as $item i}}
<li class="clearfix">
	<div class="price">
		<div class="number"><span class="small">&yen; </span>{{$item.money}}</div>
		<img src="../images/Red-envelopes.png">
	</div>
	<div class="info">		
		<p class="name">单笔投资满{{$item.tmoney}}元及以上可用</p>
		<p class="date">还有<span class="hongb_q">{{$item.tday}}</span>过期</p>
	</div>
	<div class="bg"></div>
</li>
	{{/each}}
	{{if list.length == 0}}
	<li class="clearfix"> 暂无红包记录 </li>
	{{/if}}
</script>
<!-- 已使用  -->
<script id="tpl-item-2" type="text/html">
	{{each list as $item i}}
<li class="clearfix">
	<div class="price">
		<div class="number"><span class="small">&yen; </span>{{$item.money}}</div>
		<img src="../images/Red-envelopes2.png">
	</div>
	<div class="info">		
		<p class="date">领取时间 {{$item.addtime | dateFormat:"yyyy-MM-dd hh:mm"}}</p>
		<p class="date">使用时间 {{$item.usetime | dateFormat:"yyyy-MM-dd hh:mm"}}</p>
		<p class="name date">使用的标  <span class="yuan_x1" style="color: #555;"> {{$item.pname}}</span></p>
	</div>
	<div class="bg"></div>
</li>
	{{/each}}
	{{if list.length == 0}}
	<li class="clearfix"> 暂无红包记录 </li>
	{{/if}}
</script>

<!-- 已过期  -->
<script id="tpl-item-3" type="text/html">
	{{each list as $item i}}
<li class="clearfix">
	<div class="price">
		<div class="number"><span class="small">&yen; </span>{{$item.money}}</div>
		<img src="../images/Red-envelopes2.png">
	</div>
	<div class="info">
		<p class="date">领取时间 {{$item.addtime | dateFormat:"yyyy-MM-dd hh:mm"}}</p>
		<p class="date">过期时间 {{$item.endtime | dateFormat:"yyyy-MM-dd hh:mm"}}</p>
	</div>
	<div class="flag"><img src="../images/over-Expired.png"></div>
	<div class="bg"></div>
</li>
	{{/each}}
	{{if list.length == 0}}
	<li class="clearfix"> 暂无红包记录 </li>
	{{/if}}
</script>



		<script src="../js/template.js"></script>
		<script src="../js/template.function.js"></script>
		<script src="../js/api.js"></script>
		
<script>

mui.plusReady(function(){
	request = {'user_id': user.uid()};
	request.status = 1;
	user.GetHongbao({'request':request},function(res){
		var html = template('tpl-item-1',res);
		document.getElementById("hblist-1").innerHTML = html;
	});
	
	request = {'user_id': user.uid()};
	request.status = 2;
	user.GetHongbao({'request':request},function(res){
		var html = template('tpl-item-2',res);
		document.getElementById("hblist-2").innerHTML = html;
	});
	
	request = {'user_id': user.uid()};
	request.status = 3;
	user.GetHongbao({'request':request},function(res){
		var html = template('tpl-item-3',res);
		document.getElementById("hblist-3").innerHTML = html;
	});
})
	

</script>
	
</body>
</html>