<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no, email=no" />
	<title>聚车金融</title>
	<link rel="stylesheet" href="../css/mui.min.css">
    <link href="../css/css.css" rel="stylesheet" type="text/css" />
    <style>
    	.hkjl-list { padding: 0 10px; ;}
    	.mui-table h4{
		        line-height: 25px;
		        font-weight: 500;
		}
		.mui-table-view-cell:after {left: 0px;}
    </style>
</head>
<body>

<div class="mui-content">
	<!--下拉刷新容器-->
	<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
		<div class="mui-scroll">
			<ul id="zjjl-list" class="mui-table-view mui-table-view-striped mui-table-view-condensed">

			</ul>
		</div>
	</div>
</div>

<script id="tpl-item" type="text/html">
	{{each list as item i}}
    <li class="mui-table-view-cell">
        <div class="mui-table">
            <div class="mui-table-cell mui-col-xs-9">
                <h4 class="mui-ellipsis">{{item.account_type}} {{item.money}}</h4>
                <h5>记录时间: {{item.addtime | dateFormat:'yyyy-MM-dd hh:mm'}}</h5>
                <p class="mui-h6"> 
                {{if item.type=="recharge" || item.type=="borrow_success" || item.type=="borrow_change_sell" || item.type=="tender_late_repay_yes" || item.type=="tender_false" || item.type=="system_repayment" || item.type=="tender_advance_repay_interest" || item.type=="tender_advance_repay_yes" || item.type=="cash_false" || item.type=="tender_user_cancel" || item.type=="borrow_spread_add" || item.type=="tender_spread_add" || item.type=="borrow_spread" || item.type=="tender_spread" || item.type=="online_recharge"  || item.type=="recharge_jiangli"  || item.type=="tender_award_add"   || item.type=="change_add"}}
                	存入金额: ￥{{item.money | toFixed}}
                {{/if}}
                {{if item.type=="tender_repay_yes"}}
                	存入金额: ￥{{item.money | toFixed}}
                {{/if}}
                {{if item.type=="cash_frost" || item.type=="tender" || item.type=="cash"}}
                	冻结金额: ￥{{item.money | toFixed}}
                {{/if}}
                {{if item.type=="tender_success_frost"}}
                	<!--冻结金额: ￥{{item.money | toFixed}}-->
                {{/if}}
                	待收金额: ￥{{item.await | toFixed}}
                </p>
            </div>
            <div class="mui-table-cell mui-col-xs-3 mui-text-right">
            	<p>可用金额: </p>
                <span class="mui-h5">                	
                	￥{{item.balance | toFixed}}
                </span>
            </div>
        </div>
    </li>
	{{/each}}
</script>

		<script src="../js/mui.min.js"></script>
		<script src="../js/template.js"></script>
		<script src="../js/template.function.js"></script>
		<script src="../js/api.js"></script>

    <script type="text/javascript" charset="utf-8">
    	var curr_page = 0;
			mui.init({
				pullRefresh: {
					container: '#pullrefresh',
					down: {
						callback: pulldownRefresh
					},
					up: {
						contentrefresh: '正在加载...',
						contentnomore: '',
						callback: pullupRefresh
					}
				}
			});
			
			/**
			 * 下拉刷新具体业务实现
			 */
			function pulldownRefresh() {
				setTimeout(function() {
					curr_page = 1;
					getdata(curr_page);
					mui('#pullrefresh').pullRefresh().endPulldownToRefresh();
					//mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
				}, 1500);
			}
			var count = 0;
			/**
			 * 上拉加载具体业务实现
			 */
			function pullupRefresh() {
				setTimeout(function() {
					//mui('#pullrefresh').pullRefresh().endPullupToRefresh(); //参数为true代表没有更多数据了。
					curr_page = curr_page + 1;
					getdata(curr_page);
				}, 1500);
			}
			if (mui.os.plus) {
				mui.plusReady(function() {
					setTimeout(function() {
						mui('#pullrefresh').pullRefresh().pullupLoading();
					}, 100);
				});
			} else {
				mui.ready(function() {
					mui('#pullrefresh').pullRefresh().pullupLoading();
				});
			}
      	
			mui.plusReady(function(){
//				getdata(1);

			});
//			
			function getdata(page){
				request = {'type':'','user_id':user.uid(),'epage':10,'_where':' and balance>0 '};
				request.page = page;
				account.GetLogList({'request':request},function(res){
					console.log(JSON.stringify(res));
					var html = template('tpl-item',res);
					var ul = document.querySelector('#zjjl-list');
					var upflag = res.page >= res.total_page ? true : false;
					if(page > 1){
						ul.innerHTML = ul.innerHTML + html;
					}else{
						ul.innerHTML = html;
					}
					mui('#pullrefresh').pullRefresh().endPullupToRefresh(upflag);
					
					
					if(res.total == 0){
						html = '<li class="mui-table-view-cell">没有记录</li>';
						ul.innerHTML = html;
						mui('#pullrefresh').pullRefresh().disablePullupToRefresh();
					}
				});
			}
			
//			mui.back = function(){
//				
//			}
    </script>
                       
</body>
</html>